.brand-title Administrator Only

= render "forms/horizontal/show/check_box", object: applicant, key: :reviewed
= render "forms/horizontal/show/text", object: applicant, key: :review_date
= render "forms/horizontal/show/check_box", object: applicant, key: :offered
= render "forms/horizontal/show/check_box", object: applicant, key: :accepted
= render "forms/horizontal/show/check_box", object: applicant, key: :enrolled
= render "forms/horizontal/show/text", object: applicant, key: :cv_number, key_name: "CV number"
= render "forms/horizontal/show/text", object: applicant, key: :degree_type
= render "forms/horizontal/show/text", object: applicant, key: :trainee_code
= render "forms/horizontal/show/text", object: applicant, key: :status
= render "forms/horizontal/show/text", object: applicant, key: :training_grant_years
= render "forms/horizontal/show/check_box", object: applicant, key: :supported_by_tg, key_name: "Supported by Training Grant"
= render "forms/horizontal/show/text", object: applicant, key: :training_period_start_date
= render "forms/horizontal/show/text", object: applicant, key: :training_period_end_date
= render "forms/horizontal/show/markdown", object: applicant, key: :notes
= render "forms/horizontal/show/text", object: applicant, key: :curriculum_advisor
= render "forms/horizontal/show/generic", title: "Most recent curriculum advisor meeting", content: applicant.most_recent_curriculum_advisor_meeting_date&.strftime("%m/%d/%Y")
= render "forms/horizontal/show/markdown", object: applicant, key: :past_curriculum_advisor_meetings
= render "forms/horizontal/show/text", object: applicant, key: :era_commons_username, key_name: "eRA Commons Username"
