<div class="page-header"><h2>Administrator Only</h2></div>

<dl class="dl-horizontal">
  <dt>Reviewed</dt>
  <dd><%= simple_check applicant.reviewed %></dd>

  <dt>Review date</dt>
  <dd><%= applicant.review_date %></dd>

  <dt>Offered</dt>
  <dd><%= simple_check applicant.offered %></dd>

  <dt>Accepted</dt>
  <dd><%= simple_check applicant.accepted %></dd>

  <dt>Enrolled</dt>
  <dd><%= simple_check applicant.enrolled %></dd>

  <dt>CV number</dt>
  <dd><%= applicant.cv_number %></dd>

  <dt>Degree type</dt>
  <dd><%= applicant.degree_type %></dd>

  <dt>Trainee code</dt>
  <dd><%= applicant.trainee_code %></dd>

  <dt>Status</dt>
  <dd><%= applicant.status %></dd>

  <dt>Training grant years</dt>
  <dd style="min-height:60px"><%= applicant.training_grant_years %></dd>

  <dt>Supported by Training Grant</dt>
  <dd style="min-height:60px"><%= simple_check applicant.supported_by_tg %></dd>

  <dt>Training period start date</dt>
  <dd style="min-height:60px"><%= applicant.training_period_start_date %></dd>

  <dt>Training period end date</dt>
  <dd style="min-height:60px"><%= applicant.training_period_end_date %></dd>

  <dt>Notes</dt>
  <dd><%= simple_format applicant.notes %></dd>

  <dt>Curriculum Advisor</dt>
  <dd><%= applicant.curriculum_advisor %></dd>

  <dt>Most Recent Curriculum Advisor Meeting Date</dt>
  <dd style="min-height:80px"><%= applicant.most_recent_curriculum_advisor_meeting_date.strftime('%m/%d/%Y') rescue '' %></dd>

  <dt>Past Curriculum Advisor Meetings</dt>
  <dd style="min-height:60px"><%= simple_format applicant.past_curriculum_advisor_meetings %></dd>

  <dt>eRA Commons Username</dt>
  <dd><%= applicant.era_commons_username %></dd>
</dl>
