<div class="page-header"><h2>Annual Only</h2></div>

<dl class="dl-horizontal">
  <dt>Coursework comp</dt>
  <dd><%= applicant.coursework_completed %></dd>

  <dt>Publications (Not Previously Reported)</dt>
  <dd><%= applicant.pubs_not_prev_rep %></dd>

  <dt>Presentations</dt>
  <dd><%= applicant.presentations %></dd>

  <dt>Research description</dt>
  <dd><%= applicant.research_description %></dd>

  <dt>Source of support</dt>
  <dd><%= applicant.source_of_support %></dd>
</dl>
