.page-header
  %h2 Contact Information

%dl.dl-horizontal
  %dt Phone
  %dd= applicant.phone

  %dt Address1
  %dd= applicant.address1

  %dt Address2
  %dd= applicant.address2

  %dt City
  %dd= applicant.city

  %dt State
  %dd= applicant.state

  %dt Country
  %dd= applicant.country

  %dt Zip code
  %dd= applicant.zip_code
