<div class="page-header"><h2>Contact Information</h2></div>

<dl class="dl-horizontal">
  <dt>Phone</dt>
  <dd><%= applicant.phone %></dd>

  <dt>Address1</dt>
  <dd><%= applicant.address1 %></dd>

  <dt>Address2</dt>
  <dd><%= applicant.address2 %></dd>

  <dt>City</dt>
  <dd><%= applicant.city %></dd>

  <dt>State</dt>
  <dd><%= applicant.state %></dd>

  <dt>Country</dt>
  <dd><%= applicant.country %></dd>

  <dt>Zip code</dt>
  <dd><%= applicant.zip_code %></dd>
</dl>
