<div class="page-header"><h2>Demographic Information</h2></div>

<dl class="dl-horizontal">
  <dt>Gender</dt>
  <dd><%= applicant.gender %></dd>

  <dt>Disabled</dt>
  <dd><%= simple_check applicant.disabled %></dd>

  <dt>Disadvantaged</dt>
  <dd><%= simple_check applicant.disadvantaged %></dd>

  <dt>Under-Represented Minority</dt>
  <dd style="min-height:60px"><%= simple_check applicant.urm %></dd>

  <dt>Under-Represented Minority</dt>
  <dd style="min-height:60px">
    <ul>
      <% applicant.urm_types_names.each do |urm_type| %>
        <li><%= urm_type %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Marital status</dt>
  <dd><%= applicant.marital_status %></dd>
</dl>
