.brand-title Demographic Information

= render "forms/horizontal/show/text", object: applicant, key: :gender
= render "forms/horizontal/show/check_box", object: applicant, key: :disabled
= render "forms/horizontal/show/check_box", object: applicant, key: :disadvantaged
= render "forms/horizontal/show/check_box", object: applicant, key: :urm, key_name: "Under-Represented Minority"
= render "forms/horizontal/show/generic", title: "Under-Represented Minority", content: render("applicants/show/urm_types", applicant: applicant) if applicant.urm_types.present?
= render "forms/horizontal/show/text", object: applicant, key: :marital_status
