.page-header
  %h2 Demographic Information

%dl.dl-horizontal
  %dt Gender
  %dd= applicant.gender

  %dt Disabled
  %dd= simple_check applicant.disabled

  %dt Disadvantaged
  %dd= simple_check applicant.disadvantaged

  %dt Under-Represented Minority
  %dd{ style: 'min-height: 60px;' }= simple_check applicant.urm

  %dt Under-Represented Minority
  %dd{ style: 'min-height: 60px;' }
    %ul
      - applicant.urm_types_names.each do |urm_type|
        %li= urm_type

  %dt Marital status
  %dd= applicant.marital_status
