<div class="page-header"><h2>Education</h2></div>

<dl class="dl-horizontal">
  <dt>Advisor</dt>
  <dd><%= applicant.advisor %></dd>

  <dt>Concentration / Major</dt>
  <dd><%= applicant.concentration_major %></dd>

  <dt>Current institution</dt>
  <dd><%= applicant.current_institution %></dd>

  <dt>Cv</dt>
  <dd><%= simple_check applicant.cv %></dd>

  <dt>Degree sought</dt>
  <dd><%= applicant.degree_sought %></dd>

  <dt>Department / Program</dt>
  <dd><%= applicant.department_program %></dd>

  <dt>Expected year</dt>
  <dd><%= applicant.expected_year %></dd>

  <dt>Preferred preceptor</dt>
  <dd><%= link_to applicant.preferred_preceptor.name, applicant.preferred_preceptor if applicant.preferred_preceptor %></dd>

  <dt>Primary preceptor</dt>
  <dd><%= link_to applicant.primary_preceptor.name, applicant.primary_preceptor if applicant.primary_preceptor %></dd>

  <dt>Secondary preceptor</dt>
  <dd><%= link_to applicant.secondary_preceptor.name, applicant.secondary_preceptor if applicant.secondary_preceptor %></dd>

  <dt>Previous institutions</dt>
  <dd><%= applicant.previous_institutions %></dd>

  <dt>Thesis</dt>
  <dd><%= applicant.thesis %></dd>

  <dt>Degrees</dt>
  <dd><%= applicant.degrees %></dd>

  <dt>Current title</dt>
  <dd><%= applicant.current_title %></dd>
</dl>
