<div class="page-header"><h2>Education / Experience</h2></div>

<dl class="dl-horizontal">
  <dt>Curriculum Vitae</dt>
  <dd>
    <% unless applicant.curriculum_vitae_url.blank? %>
      <%= link_to applicant.curriculum_vitae_url.split('/').last, applicant.curriculum_vitae_url, target: '_blank', class: 'btn btn-mini' %>
      <%= number_to_human_size(applicant.curriculum_vitae.size) %>
      <% if false %><span class="muted">uploaded <%= simple_time(applicant.curriculum_vitae_uploaded_at) %></span><% end %>
    <% end %>
  </dd>

  <dt>Current institution</dt>
  <dd style="min-height:60px"><%= applicant.current_institution %></dd>

  <dt title="Department / Program">Department / Program</dt>
  <dd style="min-height:60px"><%= applicant.department_program %></dd>

  <dt>Current position</dt>
  <dd><%= applicant.current_position %></dd>

  <dt>Degrees earned</dt>
  <dd>
    <%#= simple_format applicant.degrees_earned_text %>
    <ul>
    <% applicant.degrees_earned.each do |degree_earned| %>
      <li><%= render partial: 'applicants/show/degrees', locals: { degree_earned: degree_earned } %></li>
    <% end %>
    </ul>
  </dd>

  <% unless applicant.postdoc? %>
    <dt>Degree sought</dt>
    <dd><%= applicant.degree_sought %></dd>

    <dt>Expected year</dt>
    <dd><%= applicant.expected_year %></dd>
  <% end %>

  <% if current_user and current_user.administrator? %>
    <dt style="color:orange">Degrees earned old</dt>
    <dd style="min-height:60px"><%= applicant.degrees_earned_old %></dd>

    <dt style="color:orange">Degree types</dt>
    <dd style="min-height:60px">
      <ul>
      <% applicant.degree_types_names.each do |degree_type| %>
        <li><%= degree_type %></li>
      <% end %>
      </ul>
    </dd>

    <dt style="color:orange">Concentration / Major</dt>
    <dd style="min-height:60px"><%= applicant.concentration_major %></dd>


    <dt style="color:orange">Advisor</dt>
    <dd><%= applicant.advisor %></dd>

    <% if applicant.postdoc? %>
      <dt style="color:orange">Thesis</dt>
      <dd><%= applicant.thesis %></dd>
    <% end %>
  <% end %>

  <% if applicant.postdoc? %>
    <dt>Residency</dt>
    <dd><%= applicant.residency %></dd>
  <% end %>

  <dt>Research interests</dt>
  <dd style="min-height:60px">
    <ul>
    <% applicant.research_interests.each do |research_interest| %>
      <li><%= research_interest %></li>
    <% end %>
    </ul>
  </dd>

  <% if applicant.research_interests.include?('other') %>
    <dt>Research interests other</dt>
    <dd><%= applicant.research_interests_other %></dd>
  <% end %>

  <dt>Preferred preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.preferred_preceptor.name, applicant.preferred_preceptor if applicant.preferred_preceptor %></dd>

  <dt>Second preferred preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.preferred_preceptor_two.name, applicant.preferred_preceptor_two if applicant.preferred_preceptor_two %></dd>

  <dt>Third preferred preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.preferred_preceptor_three.name, applicant.preferred_preceptor_three if applicant.preferred_preceptor_three %></dd>

  <dt>Primary preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.primary_preceptor.name, applicant.primary_preceptor if applicant.primary_preceptor %></dd>

  <dt>Secondary preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.secondary_preceptor.name, applicant.secondary_preceptor if applicant.secondary_preceptor %></dd>

  <dt>Previous NRSA Support</dt>
  <dd><%= simple_check applicant.previous_nrsa_support %></dd>
</dl>
