<div class="page-header"><h2>Education</h2></div>

<dl class="dl-horizontal">
  <dt>Advisor</dt>
  <dd><%= applicant.advisor %></dd>

  <dt>Concentration / Major</dt>
  <dd><%= applicant.concentration_major %></dd>

  <dt>Current institution</dt>
  <dd><%= applicant.current_institution %></dd>

  <dt>CV</dt>
  <dd><%= simple_check applicant.cv %></dd>

  <dt>Curriculum Vitae</dt>
  <dd>
    <% unless applicant.curriculum_vitae_url.blank? %>
      <%= link_to applicant.curriculum_vitae_url.split('/').last, applicant.curriculum_vitae_url, target: '_blank', class: 'btn btn-mini' %>
      <%= number_to_human_size(applicant.curriculum_vitae.size) %>
      <% if false %><span class="muted">uploaded <%= simple_time(applicant.curriculum_vitae_uploaded_at) %></span><% end %>
    <% end %>
  </dd>

  <dt>Degree sought</dt>
  <dd><%= applicant.degree_sought %></dd>

  <dt>Department / Program</dt>
  <dd><%= applicant.department_program %></dd>

  <dt>Expected year</dt>
  <dd><%= applicant.expected_year %></dd>

  <dt>Preferred preceptor</dt>
  <dd><%= link_to applicant.preferred_preceptor.name, applicant.preferred_preceptor if applicant.preferred_preceptor %></dd>

  <dt>Second preferred preceptor</dt>
  <dd><%= link_to applicant.preferred_preceptor_two.name, applicant.preferred_preceptor_two if applicant.preferred_preceptor_two %></dd>

  <dt>Third preferred preceptor</dt>
  <dd><%= link_to applicant.preferred_preceptor_three.name, applicant.preferred_preceptor_three if applicant.preferred_preceptor_three %></dd>

  <dt>Primary preceptor</dt>
  <dd><%= link_to applicant.primary_preceptor.name, applicant.primary_preceptor if applicant.primary_preceptor %></dd>

  <dt>Secondary preceptor</dt>
  <dd><%= link_to applicant.secondary_preceptor.name, applicant.secondary_preceptor if applicant.secondary_preceptor %></dd>

  <dt>Previous institutions</dt>
  <dd><%= applicant.previous_institutions %></dd>

  <dt>Thesis</dt>
  <dd><%= applicant.thesis %></dd>

  <dt>Degrees earned</dt>
  <dd><%= applicant.degrees %></dd>

  <dt>Current position</dt>
  <dd><%= applicant.current_title %></dd>
</dl>
