<div class="page-header"><h2>Education / Experience</h2></div>

<dl class="dl-horizontal">
  <dt>Curriculum Vitae</dt>
  <dd>
    <% unless applicant.curriculum_vitae_url.blank? %>
      <% full_url = "#{request.script_name}#{applicant.curriculum_vitae.url}" %>
      <%= link_to applicant.curriculum_vitae_url.split('/').last, full_url, target: '_blank', class: 'btn btn-xs btn-default' %>
      <%= number_to_human_size(applicant.curriculum_vitae.size) %>
    <% end %>
  </dd>

  <dt>Current institution</dt>
  <dd style="min-height:60px"><%= applicant.current_institution %></dd>

  <dt title="Department / Program">Department / Program</dt>
  <dd style="min-height:60px"><%= applicant.department_program %></dd>

  <dt>Current position</dt>
  <dd><%= applicant.current_position %></dd>

  <dt>Degrees earned</dt>
  <dd>
    <ul>
      <% applicant.degrees_earned.each do |degree_earned| %>
        <% if degree_earned.values.count{|v| not v.blank?} > 0 %>
          <li><%= render partial: 'applicants/show/degrees', locals: { degree_earned: degree_earned } %></li>
        <% end %>
      <% end %>
    </ul>
  </dd>

  <% unless applicant.postdoc? %>
    <dt>Degree sought</dt>
    <dd><%= applicant.degree_sought %></dd>

    <dt>Expected year</dt>
    <dd><%= applicant.expected_year %></dd>
  <% end %>

  <% if applicant.postdoc? %>
    <dt>Residency</dt>
    <dd><%= applicant.residency %></dd>
  <% end %>

  <dt>Research interests</dt>
  <dd style="min-height:60px">
    <ul>
    <% applicant.research_interests.each do |research_interest| %>
      <li><%= research_interest %></li>
    <% end %>
    </ul>
  </dd>

  <% if applicant.research_interests.include?('other') %>
    <dt>Research interests other</dt>
    <dd><%= applicant.research_interests_other %></dd>
  <% end %>

  <dt>Preferred preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.preferred_preceptor.name, applicant.preferred_preceptor if applicant.preferred_preceptor %></dd>

  <dt>Second preferred preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.preferred_preceptor_two.name, applicant.preferred_preceptor_two if applicant.preferred_preceptor_two %></dd>

  <dt>Third preferred preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.preferred_preceptor_three.name, applicant.preferred_preceptor_three if applicant.preferred_preceptor_three %></dd>

  <dt>Primary preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.primary_preceptor.name, applicant.primary_preceptor if applicant.primary_preceptor %></dd>

  <dt>Secondary preceptor</dt>
  <dd style="min-height:60px"><%= link_to applicant.secondary_preceptor.name, applicant.secondary_preceptor if applicant.secondary_preceptor %></dd>

  <dt>Previous NRSA Support</dt>
  <dd><%= simple_check applicant.previous_nrsa_support %></dd>
</dl>
