<div class="page-header"><h2>Education / Experience</h2></div>

<dl class="dl-horizontal">
  <dt>CV</dt>
  <dd><%= simple_check applicant.cv %></dd>

  <dt>Curriculum Vitae</dt>
  <dd>
    <% unless applicant.curriculum_vitae_url.blank? %>
      <%= link_to applicant.curriculum_vitae_url.split('/').last, applicant.curriculum_vitae_url, target: '_blank', class: 'btn btn-mini' %>
      <%= number_to_human_size(applicant.curriculum_vitae.size) %>
      <% if false %><span class="muted">uploaded <%= simple_time(applicant.curriculum_vitae_uploaded_at) %></span><% end %>
    <% end %>
  </dd>

  <dt>Current institution</dt>
  <dd><%= applicant.current_institution %></dd>

  <dt title="Department / Program">Department / Program</dt>
  <dd><%= applicant.department_program %></dd>

  <dt>Current position</dt>
  <dd><%= applicant.current_title %></dd>

  <dt>Degree Types</dt>
  <dd>
    <ul>
    <% applicant.degree_types_names.each do |degree_type| %>
      <li><%= degree_type %></li>
    <% end %>
    </ul>
  </dd>

  <dt>Degrees earned</dt>
  <dd><%= simple_format applicant.degrees_earned %></dd>

  <% if current_user and current_user.administrator? %>
    <dt title="Previous institutions">Previous institutions</dt>
    <dd><%= applicant.previous_institutions %></dd>
  <% end %>

  <% unless applicant.postdoc? %>
    <dt>Degree sought</dt>
    <dd><%= applicant.degree_sought %></dd>

    <dt>Expected year</dt>
    <dd><%= applicant.expected_year %></dd>
  <% end %>

  <dt title="Concentration / Major">Concentration / Major</dt>
  <dd><%= applicant.concentration_major %></dd>

  <dt>Advisor</dt>
  <dd><%= applicant.advisor %></dd>

  <% if applicant.postdoc? %>
    <dt>Thesis</dt>
    <dd><%= applicant.thesis %></dd>

    <dt>Residency</dt>
    <dd><%= applicant.residency %></dd>
  <% end %>

  <dt title="Preferred preceptor">Preferred preceptor</dt>
  <dd><%= link_to applicant.preferred_preceptor.name, applicant.preferred_preceptor if applicant.preferred_preceptor %></dd>

  <dt title="Second preferred preceptor">Second preferred preceptor</dt>
  <dd><%= link_to applicant.preferred_preceptor_two.name, applicant.preferred_preceptor_two if applicant.preferred_preceptor_two %></dd>

  <dt title="Third preferred preceptor">Third preferred preceptor</dt>
  <dd><%= link_to applicant.preferred_preceptor_three.name, applicant.preferred_preceptor_three if applicant.preferred_preceptor_three %></dd>

  <dt title="Primary preceptor">Primary preceptor</dt>
  <dd><%= link_to applicant.primary_preceptor.name, applicant.primary_preceptor if applicant.primary_preceptor %></dd>

  <dt title="Secondary preceptor">Secondary preceptor</dt>
  <dd><%= link_to applicant.secondary_preceptor.name, applicant.secondary_preceptor if applicant.secondary_preceptor %></dd>

  <dt title="Previous NSRA Support">Previous NSRA Support</dt>
  <dd><%= simple_check applicant.previous_nsra_support %></dd>
</dl>
