.brand-title Education / Experience

= render "forms/horizontal/show/generic", title: "Curriculum Vitae", content: render("applicants/show/curriculum_vitae", applicant: applicant)
= render "forms/horizontal/show/text", object: applicant, key: :current_institution
= render "forms/horizontal/show/text", object: applicant, key: :department_program, key_name: "Department / Program"
= render "forms/horizontal/show/text", object: applicant, key: :current_position
= render "forms/horizontal/show/generic", title: "Degrees earned", content: render("applicants/show/degrees_earned", applicant: applicant)
- if applicant.postdoc?
  = render "forms/horizontal/show/text", object: applicant, key: :residency
- else
  = render "forms/horizontal/show/text", object: applicant, key: :degree_sought
  = render "forms/horizontal/show/text", object: applicant, key: :expected_year
= render "forms/horizontal/show/generic", title: "Research interests", content: render("applicants/show/research_interests", applicant: applicant)
- if applicant.research_interests.include?('other')
  = render "forms/horizontal/show/text", object: applicant, key: :research_interests_other, key_name: "Other Research Interest"
= render "forms/horizontal/show/generic", title: "Preferred preceptor", content: link_to(applicant.preferred_preceptor.name, applicant.preferred_preceptor) if applicant.preferred_preceptor
= render "forms/horizontal/show/generic", title: "Second preferred preceptor", content: link_to(applicant.preferred_preceptor_two.name, applicant.preferred_preceptor_two) if applicant.preferred_preceptor_two
= render "forms/horizontal/show/generic", title: "Third preferred preceptor", content: link_to(applicant.preferred_preceptor_three.name, applicant.preferred_preceptor_three) if applicant.preferred_preceptor_three
= render "forms/horizontal/show/generic", title: "Primary preceptor", content: link_to(applicant.primary_preceptor.name, applicant.primary_preceptor) if applicant.primary_preceptor
= render "forms/horizontal/show/generic", title: "Secondary preceptor", content: link_to(applicant.secondary_preceptor.name, applicant.secondary_preceptor) if applicant.secondary_preceptor
= render "forms/horizontal/show/check_box", object: applicant, key: :previous_nrsa_support, key_name: "Previous NRSA Support"
