.brand-title Basic Info

= render "forms/horizontal/show/text", object: applicant, key: :email
= render "forms/horizontal/show/text", object: applicant, key: :applicant_type
= render "forms/horizontal/show/check_box", object: applicant, key: :tge, key_name: "Citizen or Perm. Resident"
= render "forms/horizontal/show/text", object: applicant, key: :citizenship_status
= render "forms/horizontal/show/text", object: applicant, key: :alien_registration_number, key_name: "Alien Registration #"
= render "forms/horizontal/show/text", object: applicant, key: :desired_start_date
= render "forms/horizontal/show/text", object: applicant, key: :personal_statement
= render "forms/horizontal/show/text", object: applicant, key: :letters_from_a, key_name: "Recommendation Letter From"
= render "forms/horizontal/show/text", object: applicant, key: :letters_from_b, key_name: "Recommendation Letter From"
= render "forms/horizontal/show/text", object: applicant, key: :letters_from_c, key_name: "Recommendation Letter From"
