<div class="page-header">
  <h2>Basic Info</h2>
</div>

<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd><%= applicant.email %></dd>

  <dt>Applicant type</dt>
  <dd><%= applicant.applicant_type %></dd>

  <dt>Citizen or Perm. Resident</dt>
  <dd><%= simple_check applicant.tge %></dd>

  <dt>Citizenship status</dt>
  <dd><%= applicant.citizenship_status %></dd>

  <dt>Alien Registration #</dt>
  <dd><%= applicant.alien_registration_number %></dd>

  <dt>Desired start date</dt>
  <dd><%= applicant.desired_start_date %></dd>

  <dt>Personal statement</dt>
  <dd><%= applicant.personal_statement %></dd>

  <dt title="Recommendation Letter From">Recommendation Letter From</dt>
  <dd><%= applicant.letters_from_a %></dd>

  <dt title="Recommendation Letter From">Recommendation Letter From</dt>
  <dd><%= applicant.letters_from_b %></dd>

  <dt title="Recommendation Letter From">Recommendation Letter From</dt>
  <dd><%= applicant.letters_from_c %></dd>
</dl>
