<div class="page-header"><h2>Additional Program Requirements</h2></div>

<dl class="dl-horizontal">

  <dt style="min-height: 80px;">Research-In-Progress Title</dt>
  <dd style="min-height: 80px;"><%= applicant.research_in_progress_title %></dd>

  <dt style="min-height: 80px;">Research-In-Progress Date</dt>
  <dd style="min-height: 80px;"><%= applicant.research_in_progress_date %></dd>

  <dt style="min-height: 80px;">Additional Research-In-Progress Titles and Dates</dt>
  <dd style="min-height: 80px;"><%= simple_format applicant.research_in_progress_additional %></dd>

  <dt style="min-height: 80px;">Research Ethics Training Completed</dt>
  <dd style="min-height: 80px;"><%= applicant.research_ethics_training_completed_date %></dd>

  <dt style="min-height: 80px;">Research Ethics Training Notes</dt>
  <dd style="min-height: 80px;"><%= simple_format applicant.research_ethics_training_notes %></dd>

  <dt style="min-height: 80px;">Grant Writing Training Completed</dt>
  <dd style="min-height: 80px;"><%= applicant.grant_writing_training_completed_date %></dd>

  <dt style="min-height: 80px;">Basic Research Statistics Course Completed</dt>
  <dd style="min-height: 80px;"><%= applicant.basic_research_statistics_course_completed_date %></dd>

  <dt style="min-height: 80px;">Advanced Research Statistics Course Completed</dt>
  <dd style="min-height: 80px;"><%= applicant.advanced_research_statistics_course_completed_date %></dd>

  <dt style="min-height: 80px;">Neuroscience Course Completed</dt>
  <dd style="min-height: 80px;"><%= applicant.neuroscience_course_completed_date %></dd>

  <dt style="min-height: 80px;">Harvard School of Public Health Summer Session Courses Completed</dt>
  <dd style="min-height: 80px;"><%= applicant.hsoph_summer_session_course_completed_date %></dd>

  <dt style="min-height: 80px;">Submitted application for Individual Funding</dt>
  <dd style="min-height: 80px;"><%= applicant.individual_funding_submission_date %></dd>

  <dt style="min-height: 80px;">Individual Funding Type</dt>
  <dd style="min-height: 80px;"><%= simple_format applicant.individual_funding_type %></dd>

  <dt style="min-height: 80px;">Last IDP</dt>
  <dd style="min-height: 80px;"><%= applicant.last_idp_date %></dd>

</dl>
