.brand-title Additional Program Requirements

= render "forms/horizontal/show/text", object: applicant, key: :research_in_progress_title, key_name: "Research-In-Progress Title"
= render "forms/horizontal/show/text", object: applicant, key: :research_in_progress_date, key_name: "Research-In-Progress Date"
= render "forms/horizontal/show/markdown", object: applicant, key: :research_in_progress_additional, key_name: "Additional Research-In-Progress Titles and Dates"
= render "forms/horizontal/show/text", object: applicant, key: :research_ethics_training_completed_date
= render "forms/horizontal/show/markdown", object: applicant, key: :research_ethics_training_notes
= render "forms/horizontal/show/text", object: applicant, key: :grant_writing_training_completed_date
= render "forms/horizontal/show/text", object: applicant, key: :basic_research_statistics_course_completed_date, key_name: "Basic Research Statistics Course Completed"
= render "forms/horizontal/show/text", object: applicant, key: :advanced_research_statistics_course_completed_date, key_name: "Advanced Research Statistics Course Completed"
= render "forms/horizontal/show/text", object: applicant, key: :neuroscience_course_completed_date, key_name: "Neuroscience Course Completed"
= render "forms/horizontal/show/text", object: applicant, key: :hsoph_summer_session_course_completed_date, key_name: "Harvard School of Public Health Summer Session Courses Completed"
= render "forms/horizontal/show/text", object: applicant, key: :individual_funding_submission_date, key_name: "Submitted application for Individual Funding"
= render "forms/horizontal/show/markdown", object: applicant, key: :individual_funding_type
= render "forms/horizontal/show/text", object: applicant, key: :last_idp_date, key_name: "Last IDP"
