.brand-title Exit Interview

- if current_user&.administrator?
  .mb-3
    %strong Exit Interview Login
    %code.text-primary.small= "#{ENV["website_url"]}/applicants/exit_interview?auth_token=#{applicant.id_and_auth_token}"

= render "forms/horizontal/show/text", object: applicant, key: :future_email
= render "forms/horizontal/show/text", object: applicant, key: :entrance_year
= render "forms/horizontal/show/check_box", object: applicant, key: :t32_funded, key_name: "T32 funded"
= render "forms/horizontal/show/generic", title: "T32 funded years", content: applicant.t32_funded_years.blank? ? "" : pluralize(applicant.t32_funded_years, "Year")
= render "forms/horizontal/show/check_box", object: applicant, key: :academic_program_completed
= render "forms/horizontal/show/generic", title: "Certificate Application", content: render("applicants/show/certificate_application", applicant: applicant)


= render "forms/horizontal/show/text", object: applicant, key: :research_project_title
= render "forms/horizontal/show/generic", title: "Laboratories", content: applicant.laboratories.join(", ")
= render "forms/horizontal/show/check_box", object: applicant, key: :immediate_transition

= render "forms/horizontal/show/generic", title: "Transition position", content: applicant.transition_position.join(", ")

= render "forms/horizontal/show/text", object: applicant, key: :transition_position_other

= render "forms/horizontal/show/text", object: applicant, key: :termination_feedback, key_name: "Feedback"
