Dear
= succeed ',' do
  = @applicant.first_name
%br
%br
= @user.name
has requested that you complete your exit interview.
%br
%br
You can access the exit interview here:
%br
%br
%center
  = link_to 'Exit Interview', "#{ENV['website_url']}/applicants/exit_interview?auth_token=#{@applicant.id_and_auth_token}", style: link_style
