Dear
= succeed ',' do
  = @preceptor.first_name
%br
%br
= @user.name
has requested that you update your preceptor profile.
%br
%br
You can access your preceptor profile here:
%br
%br
%center
  = link_to 'Access Your Profile', "#{ENV['website_url']}/preceptors/edit_me?auth_token=#{@preceptor.id_and_auth_token}", style: 'color: #428bca'
