.brand-title Administrator Only

= render "forms/horizontal/check_box", form: form, object: applicant, key: :reviewed
= render "forms/horizontal/date_field", form: form, object: applicant, key: :review_date
= render "forms/horizontal/check_box", form: form, object: applicant, key: :offered
= render "forms/horizontal/check_box", form: form, object: applicant, key: :accepted
= render "forms/horizontal/check_box", form: form, object: applicant, key: :enrolled

.form-group.row
  = form.label :cv_number, "CV number", class: "col-md-2 col-form-label"
  .col-md-10
    = form.number_field :cv_number, class: "form-control"

= render "forms/horizontal/text_field", form: form, object: applicant, key: :degree_type
= render "forms/horizontal/select", form: form, object: applicant, key: :primary_preceptor_id, options: Preceptor.current.order("last_name, first_name").collect { |p| [p.reverse_name, p.id] }, include_blank: "---", id: true
= render "forms/horizontal/select", form: form, object: applicant, key: :secondary_preceptor_id, options: Preceptor.current.order("last_name, first_name").collect { |p| [p.reverse_name, p.id] }, include_blank: "---", id: true
= render "forms/horizontal/text_field", form: form, object: applicant, key: :trainee_code
= render "forms/horizontal/select", form: form, object: applicant, key: :status, options: Applicant::STATUS, include_blank: "---", id: true
= render "forms/horizontal/text_field", form: form, object: applicant, key: :training_grant_years
= render "forms/horizontal/check_box", form: form, object: applicant, key: :supported_by_tg, key_name: "Supported by TG"
= render "forms/horizontal/date_field", form: form, object: applicant, key: :training_period_start_date
= render "forms/horizontal/date_field", form: form, object: applicant, key: :training_period_end_date
= render "forms/horizontal/text_area", form: form, object: applicant, key: :notes, rows: 7
= render "forms/horizontal/text_field", form: form, object: applicant, key: :curriculum_advisor
= render "forms/horizontal/date_field", form: form, object: applicant, key: :most_recent_curriculum_advisor_meeting_date
= render "forms/horizontal/text_area", form: form, object: applicant, key: :past_curriculum_advisor_meetings, rows: 7
= render "forms/horizontal/text_field", form: form, object: applicant, key: :era_commons_username, key_name: "eRA Commons Username"
