<div class="page-header"><h2>Annual Only</h2></div>

<div class="control-group">
  <%= f.label :coursework_completed, class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :coursework_completed, rows: 7, style: "width:95%" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :pubs_not_prev_rep, "Publications (Not Previously Reported)", class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :pubs_not_prev_rep %>
  </div>
</div>

<div class="control-group">
  <%= f.label :presentations, class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :presentations, rows: 7, style: "width:95%" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :research_description, class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :research_description, rows: 7, style: "width:95%" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :source_of_support, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :source_of_support %>
  </div>
</div>
