.brand-title Contact Information

= render "forms/horizontal/text_field", form: form, object: applicant, key: :phone
= render "forms/horizontal/text_field", form: form, object: applicant, key: :address1
= render "forms/horizontal/text_field", form: form, object: applicant, key: :address2
= render "forms/horizontal/text_field", form: form, object: applicant, key: :city
= render "forms/horizontal/text_field", form: form, object: applicant, key: :state
= render "forms/horizontal/text_field", form: form, object: applicant, key: :country
= render "forms/horizontal/text_field", form: form, object: applicant, key: :zip_code
