<div class="row" data-object="degree-row">
  <div class="col-xs-2">
    <%= select_tag "applicant[degrees_earned][][degree_type]", options_for_select([['---', nil]] + Applicant::DEGREE_TYPES, degree_earned[:degree_type]), class: 'form-control' %>
  </div>

  <div class="col-xs-2">
    <%= text_field_tag "applicant[degrees_earned][][institution]", degree_earned[:institution], class: 'form-control', placeholder: 'Institution', rel: 'tooltip', title: 'Institution' %>
  </div>

  <div class="col-xs-1">
    <%= text_field_tag "applicant[degrees_earned][][year]", degree_earned[:year], class: 'form-control', placeholder: 'Year', rel: 'tooltip', title: 'Year', style: 'min-width: 60px;' %>
  </div>

  <div class="col-xs-2">
    <%= text_field_tag "applicant[degrees_earned][][advisor]", degree_earned[:advisor], class: 'form-control', placeholder: 'Advisor', rel: 'tooltip', title: 'Advisor' %>
  </div>

  <div class="col-xs-2">
    <%= text_field_tag "applicant[degrees_earned][][thesis]", degree_earned[:thesis], class: 'form-control', placeholder: 'Thesis', rel: 'tooltip', title: 'Thesis' %>
  </div>

  <div class="col-xs-2">
    <%= text_field_tag "applicant[degrees_earned][][concentration_major]", degree_earned[:concentration_major], class: 'form-control', placeholder: 'Concentration / Major', rel: 'tooltip', title: 'Concentration / Major' %>
  </div>
  <div class="col-xs-1">
    <%= link_to 'remove', '#', data: { object: 'remove-parent', target: "degree-row" }, class: 'btn btn-xs btn-danger-inverse' %>
  </div>
</div>
