.brand-title Demographic Information

.form-group.row
  = form.label :gender, nil, class: "col-md-2 col-form-label"
  .col-md-10
    .form-control-plaintext
      - Applicant::GENDER.each_with_index do |(name, value), index|
        - id = "gender_#{index}"
        .custom-control.custom-radio.custom-control-inline
          = form.radio_button :gender, value, class: "custom-control-input", id: id
          = form.label nil, name, for: id, class: "custom-control-label"

= render "forms/horizontal/check_box", form: form, object: applicant, key: :disabled, key_name: "Check if you consider yourself to be a person with a disability", help_text: "An applicant who identifies as a person with a disability, or a physical or mental impairment that substantially limits one or more activities (requires explanation if checked yes)."
= render "forms/horizontal/text_area", form: form, object: applicant, key: :disabled_description, key_name: "Describe disability", rows: 7
= render "forms/horizontal/check_box", form: form, object: applicant, key: :disadvantaged, help_text: "1. Individual has qualified for federal disadvantaged assistance, or for a loan or scholarship from one or more of the following: Health Professional Student Loan, Loans for Disadvantaged Student Program, or Scholarships for Individuals with Exceptional Financial Need (DHHS).<br />2. Individual has come from a social, cultural, or educational environment (e.g., rural, inner city) that has recently, directly, and demonstrably inhibited the individual from obtaining the knowledge, skills, and abilities necessary to participate in a research career.".html_safe
= render "forms/horizontal/check_box", form: form, object: applicant, key: :urm, key_name: "Under-Represented Minority", help_text: "An applicant who identifies with any minority, ethnic, or racial population that is underrepresented in scientific research, including: Hispanic or Latino, American Indian or Alaska Native, Black or African American, and Native Hawaiian or Pacific Islander.".html_safe

.form-group.row
  = form.label :urm_types, "Under-Represented Minority", class: "col-md-2 col-form-label"
  .col-md-10
    .form-control-plaintext
      = hidden_field_tag :set_urm_types, '1'
      - Applicant::URM_TYPES.each_with_index do |(name, value), index|
        .custom-control.custom-checkbox
          - id = "applicant_urm_types_#{index}"
          = check_box_tag "applicant[urm_types][]", value, applicant.urm_types.include?(value), class: "custom-control-input", id: id
          = form.label nil, name, for: id, class: "custom-control-label"

= render "forms/horizontal/select", form: form, object: applicant, key: :marital_status, options: Applicant::MARITAL_STATUS, include_blank: "---"
