<div class="page-header">
  <h2>Demographic Information</h2>
</div>

<div class="form-group">
  <%= f.label :gender, nil, class: 'col-md-2 control-label' %>
  <div class="controls radio">
    <% Applicant::GENDER.each do |name, value| %>
      <label><%= f.radio_button :gender, value %> <%= name %></label>
    <% end %>
  </div>
</div>

<div class="form-group checkbox">
  <div class="col-md-10">
    <%= f.check_box :disabled %>
    <%= f.label :disabled, "Check if you consider yourself to be a person with a disability" %>
    <span class="help-block">An applicant who identifies as a person with a disability, or a physical or mental impairment that substantially limits one or more activities (requires explanation if checked yes).</span>
    <%= f.text_area :disabled_description, rows: 7, style: "width:95%" %>
  </div>
</div>

<div class="form-group checkbox">
  <div class="col-md-10">
    <%= f.check_box :disadvantaged %>
    <%= f.label :disadvantaged %>
    <span class="help-block">
      <ol>
        <li>Individual has qualified for federal disadvantaged assistance, or for a loan or scholarship from one or more of the following: Health Professional Student Loan, Loans for Disadvantaged Student Program, or Scholarships for Individuals with Exceptional Financial Need (DHHS).</li>
        <li>Individual has come from a social, cultural, or educational environment (e.g., rural, inner city) that has recently, directly, and demonstrably inhibited the individual from obtaining the knowledge, skills, and abilities necessary to participate in a research career.</li>
      </ol>
    </span>
  </div>
</div>

<div class="form-group checkbox">
  <div class="col-md-10">
    <%= f.check_box :urm %>
    <%= f.label :urm, "Under-Represented Minority" %>
    <span class="help-block">An applicant who identifies with any minority, ethnic, or racial population that is underrepresented in scientific research, including: Hispanic or Latino, American Indian or Alaska Native, Black or African American, and Native Hawaiian or Pacific Islander.</span>
  </div>
</div>

<div class="form-group">
  <%= f.label :urm_types, "Under-Represented Minority", class: 'col-md-2 control-label' %>
  <div class="controls checkbox">
    <%= hidden_field_tag :set_urm_types, '1' %>
    <% Applicant::URM_TYPES.each do |name, value| %>
      <%= check_box_tag "applicant[urm_types][]", value, applicant.urm_types.include?(value) %> <label><%= name %></label>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :marital_status, nil, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.select :marital_status, [['---', nil]] + Applicant::MARITAL_STATUS %>
  </div>
</div>
