<div class="page-header">
  <h2>Education / Experience</h2>
</div>

<div class="control-group">
  <%= f.label :curriculum_vitae, 'Upload Curriculum Vitae (PDF, Word)', class: 'control-label' %>
  <div class="controls">
    <%= f.file_field :curriculum_vitae %>
    <%= f.hidden_field :curriculum_vitae_cache %>
  </div>
</div>

<div class="control-group">
  <%= f.label :current_institution, nil, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :current_institution %>
  </div>
</div>

<div class="control-group">
  <%= f.label :department_program, 'Department / Program', class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :department_program %>
  </div>
</div>

<div class="control-group">
  <%= f.label :current_title, 'Current position', class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :current_title %>
  </div>
</div>

<div class="control-group">
  <%= f.label :degree_types, nil, class: 'control-label' %>
  <div class="controls checkbox">
    <% Applicant::DEGREE_TYPES.each do |name, value| %>
      <%= check_box_tag "applicant[degree_types][]", value, applicant.degree_types.include?(value) %> <label><%= name %></label>
    <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :degrees_earned, nil, class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :degrees_earned, rows: 7, style: "width:95%" %>
    <span class="help-block"><i>Degree Earned, Institution, and Year of Graduation</i>
    </span>
  </div>
</div>

<% if current_user and current_user.administrator? %>
  <div class="control-group">
    <%= f.label :previous_institutions, nil, class: 'control-label' %>
    <div class="controls">
      <%= simple_format applicant.previous_institutions unless applicant.previous_institutions.blank? %>
      <%#= f.text_area :previous_institutions, rows: 7, style: "width:95%" %>
    </div>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :degree_sought, nil, class: 'control-label' %>
  <div class="controls radio">
    <% Applicant::DEGREE_SOUGHT.each do |name, value| %>
      <%= f.radio_button :degree_sought, value, data: { toggle: 'predoc_summer_only' } %> <label><%= name %></label>
    <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :expected_year, "Expected Graduation Year", class: 'control-label' %>
  <div class="controls">
    <%= f.number_field :expected_year, min: 2000, 'data-toggle' => 'predoc_summer_only' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :concentration_major, 'Concentration / Major', class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :concentration_major %>
  </div>
</div>

<div class="control-group">
  <%= f.label :advisor, nil, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :advisor %>
  </div>
</div>

<div class="control-group">
  <%= f.label :thesis, nil, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :thesis, 'data-toggle' => 'postdoc_only' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :residency, nil, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :residency, 'data-toggle' => 'postdoc_only' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :preferred_preceptor_id, nil, class: 'control-label' %>
  <div class="controls">
    <%= f.select :preferred_preceptor_id, [['---', nil]] + Preceptor.current.collect{|p| [p.name, p.id]} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :preferred_preceptor_two_id, 'Second Preferred Preceptor', class: 'control-label' %>
  <div class="controls">
    <%= f.select :preferred_preceptor_two_id, [['---', nil]] + Preceptor.current.collect{|p| [p.name, p.id]} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :preferred_preceptor_three_id, 'Third Preferred Preceptor', class: 'control-label' %>
  <div class="controls">
    <%= f.select :preferred_preceptor_three_id, [['---', nil]] + Preceptor.current.collect{|p| [p.name, p.id]} %>
  </div>
</div>

<div class="control-group checkbox">
  <div class="controls">
    <%= f.check_box :previous_nsra_support %>
    <%= f.label :previous_nsra_support, "Previous NSRA Support" %>
    <span class="help-block"></span>
  </div>
</div>
