.page-header
  %h2 Education / Experience

.form-group
  = f.label :curriculum_vitae, 'Upload Curriculum Vitae or Resume (PDF, Word)', class: 'col-md-2 control-label'
  .col-md-10
    = f.file_field :curriculum_vitae, class: 'form-control'
    = f.hidden_field :curriculum_vitae_cache
    .callout.callout-info
      %h4 CV Instructions
      Instructions on how to prepare a CV can be found here:
      = link_to 'http://cv.hms.harvard.edu/index.php?page=intro', 'http://cv.hms.harvard.edu/index.php?page=intro', target: '_blank'

.form-group
  = f.label :current_institution, nil, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :current_institution, class: 'form-control'

.form-group
  = f.label :department_program, 'Department / Program', class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :department_program, class: 'form-control'

.form-group
  = f.label :current_position, nil, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :current_position, class: 'form-control'

.form-group
  = f.label :degrees_earned, nil, class: 'col-md-2 control-label'
  .col-md-10
    #degrees_container
      = hidden_field_tag :set_degrees_earned, '1'
      = render 'applicants/form/degrees', degree_earned: {} if applicant.degrees_earned.size == 0
      - applicant.degrees_earned.each do |degree_earned|
        = render 'applicants/form/degrees', degree_earned: degree_earned
    = link_to 'add more', add_degree_applicants_path, method: :post, remote: true, class: 'btn btn-xs btn-default'

.form-group
  = f.label :degree_sought, nil, class: 'col-md-2 control-label'
  .col-md-10
    - Applicant::DEGREE_SOUGHT.each do |name, value|
      %label.radio-inline
        = f.radio_button :degree_sought, value, data: { toggle: 'predoc_summer_only' }
        = name

.form-group
  = f.label :expected_year, "Expected Graduation Year", class: 'col-md-2 control-label'
  .col-md-10
    = f.number_field :expected_year, min: 2000, data: { toggle: 'predoc_summer_only' }, class: 'form-control'

.form-group
  = f.label :residency, nil, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :residency, data: { toggle: 'postdoc_only' }, class: 'form-control'

.form-group
  = f.label :research_interests, nil, class: 'col-md-2 control-label'
  .col-md-10
    = hidden_field_tag :set_research_interests, '1'
    - Applicant::RESEARCH_INTERESTS.each_with_index do |(name, value), index|
      .checkbox
        %label
          = check_box_tag "applicant[research_interests][]", value, applicant.research_interests.include?(value)
          = name
      = f.text_field :research_interests_other, class: 'form-control' if value == 'other'
    .callout.callout-info
      %h4 Important!
      Mark up to four.

.form-group
  = f.label :preferred_preceptor_id, nil, class: 'col-md-2 control-label'
  .col-md-10
    = f.select :preferred_preceptor_id, [['---', nil]] + Preceptor.current.order('last_name, first_name').collect{|p| [p.reverse_name, p.id]}, {}, class: 'form-control'
    .callout.callout-info
      %h4 Important!
      Each faculty member will be notified upon your submission of your
      application.

.form-group
  = f.label :preferred_preceptor_two_id, 'Second Preferred Preceptor', class: 'col-md-2 control-label'
  .col-md-10
    = f.select :preferred_preceptor_two_id, [['---', nil]] + Preceptor.current.order('last_name, first_name').collect{|p| [p.reverse_name, p.id]}, {}, class: 'form-control'

.form-group
  = f.label :preferred_preceptor_three_id, 'Third Preferred Preceptor', class: 'col-md-2 control-label'
  .col-md-10
    = f.select :preferred_preceptor_three_id, [['---', nil]] + Preceptor.current.order('last_name, first_name').collect{|p| [p.reverse_name, p.id]}, {}, class: 'form-control'

.form-group
  .col-md-offset-2.col-md-10
    .checkbox
      %label
        = f.check_box :previous_nrsa_support
        Previous NRSA Support
