<div class="page-header">
  <h2>Education</h2>
</div>

<div class="control-group">
  <%= f.label :advisor, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :advisor %>
  </div>
</div>

<div class="control-group">
  <%= f.label :concentration_major, 'Concentration / Major', class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :concentration_major %>
  </div>
</div>
<div class="control-group">
  <%= f.label :current_institution, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :current_institution %>
  </div>
</div>
<div class="control-group checkbox">
  <div class="controls">
    <%= f.check_box :cv %>
    <%= f.label :cv %>
  </div>
</div>
<div class="control-group">
  <%= f.label :degree_sought, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :degree_sought %>
  </div>
</div>
<div class="control-group">
  <%= f.label :department_program, 'Department / Program', class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :department_program %>
  </div>
</div>

<div class="control-group">
  <%= f.label :expected_year, "Expected Graduation Year", class: 'control-label' %>
  <div class="controls">
    <%= f.number_field :expected_year %>
  </div>
</div>

<div class="control-group">
  <%= f.label :preferred_preceptor_id, class: 'control-label' %>
  <div class="controls">
    <%= f.select :preferred_preceptor_id, [['---', nil]] + Preceptor.current.collect{|p| [p.name, p.id]} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :previous_institutions, class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :previous_institutions, rows: 7, style: "width:99%" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :thesis, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :thesis %>
  </div>
</div>

<div class="control-group">
  <%= f.label :degrees, 'Degrees Earned', class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :degrees %>
  </div>
</div>

<div class="control-group">
  <%= f.label :current_title, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :current_title %>
  </div>
</div>
