.brand-title Basic Info

= render "forms/horizontal/email_field", form: form, object: applicant, key: :email
= render "forms/horizontal/text_field", form: form, object: applicant, key: :first_name
= render "forms/horizontal/text_field", form: form, object: applicant, key: :last_name
= render "forms/horizontal/text_field", form: form, object: applicant, key: :middle_initial
= render "forms/horizontal/select", form: form, object: applicant, key: :applicant_type, options: Applicant::APPLICANT_TYPE, id: true

.form-group.row
  = form.label :citizenship_status, nil, class: "col-md-2 col-form-label"
  .col-md-10
    .form-control-plaintext
      - Applicant::CITIZENSHIP_STATUS.each_with_index do |citizenship_status, index|
        - id = "citizenship_status_#{index}"
        .custom-control.custom-radio
          = form.radio_button :citizenship_status, citizenship_status, class: "custom-control-input", id: id
          = form.label nil, citizenship_status.humanize, for: id, class: "custom-control-label"
        - if citizenship_status == "permanent resident"
          .input-group
            .input-group-prepend
              %span.input-group-text A
            = form.text_field :alien_registration_number, value: applicant.alien_registration_number.to_s.gsub("A", ""), class: "form-control"
          = render "forms/help_text", help_text: "Only US Citizens and Permanent Residents are eligible for training grant support."

= render "forms/horizontal/date_field", form: form, object: applicant, key: :desired_start_date
= render "forms/horizontal/text_area", form: form, object: applicant, key: :personal_statement, rows: 7, help_text: "Maximum of 250 words."
