<div class="page-header">
  <h2>Basic Info</h2>
</div>

<div class="control-group">
  <%= f.label :email, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.email_field :email %>
  </div>
</div>

<% if user_signed_in? and current_user.administrator? and applicant.new_record? and false %>
  <div class="control-group">
    <%= f.label :password, nil, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :first_name, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_field :first_name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :last_name, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_field :last_name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :middle_initial, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_field :middle_initial %>
  </div>
</div>

<div class="control-group">
  <%= f.label :applicant_type, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.select :applicant_type, Applicant::APPLICANT_TYPE %>
  </div>
</div>

<% if false %>
<div class="control-group checkbox">
  <div class="controls">
    <%= f.check_box :tge %>
    <%= f.label :tge, "US Citizen or Permanent Resident" %>
    <span class="help-block">Please note that only citizens and permanent residents are eligible for training grant support</span>
  </div>
</div>
<% end %>

<div class="control-group">
  <%= f.label :citizenship_status, nil, class: 'col-md-2 control-label' %>
  <div class="controls radio">
    <% Applicant::CITIZENSHIP_STATUS.each do |citizenship_status| %>
      <%= f.radio_button :citizenship_status, citizenship_status, class: 'radio' %> <label><%= citizenship_status.humanize %></label>
      <% if citizenship_status == 'permanent resident' %>
        <div class="input-prepend">
          <span class="add-on">A</span><%= f.text_field :alien_registration_number, value: applicant.alien_registration_number.to_s.gsub('A', '') %>
        </div>
        <span class="help-inline"><%= f.label :alien_registration_number, nil %></span>
        <span class="help-block"></span>
        <span class="help-block">
          <span class="label label-info">Important!</span>
          Only US Citizens and Permanent Residents are eligible for training grant support.
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :desired_start_date, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <div class="input-append">
      <%= f.text_field :desired_start_date, class: 'datepicker', value: applicant.desired_start_date ? applicant.desired_start_date.strftime('%m/%d/%Y') : '' %>
      <span class="add-on" style="margin-top:1px"><i class="icon-calendar"></i></span>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :personal_statement, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_area :personal_statement, rows: 7, style: "width:95%" %>
    <span class="help-block">Maximum of 250 words</span>
  </div>
</div>
