<div class="page-header"><h2>Additional Program Requirements</h2></div>

<div class="form-group">
  <%= f.label :research_in_progress_title, 'Research-In-Progress Title', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :research_in_progress_title, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :research_in_progress_date, 'Research-In-Progress Date', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.text_field :research_in_progress_date, class: 'datepicker form-control', value: applicant.research_in_progress_date ? applicant.research_in_progress_date.strftime('%m/%d/%Y') : '' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :research_in_progress_additional, 'Additional Research-In-Progress Titles and Dates', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_area :research_in_progress_additional, rows: 7, class: 'form-control' %>
  </div>
</div>


<div class="form-group">
  <%= f.label :research_ethics_training_completed_date, 'Research Ethics Training Completed', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.text_field :research_ethics_training_completed_date, class: 'datepicker form-control', value: applicant.research_ethics_training_completed_date ? applicant.research_ethics_training_completed_date.strftime('%m/%d/%Y') : '' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :research_ethics_training_notes, 'Research Ethics Training Notes', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_area :research_ethics_training_notes, rows: 7, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :grant_writing_training_completed_date, 'Grant Writing Training Completed', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.text_field :grant_writing_training_completed_date, class: 'datepicker form-control', value: applicant.grant_writing_training_completed_date ? applicant.grant_writing_training_completed_date.strftime('%m/%d/%Y') : '' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :basic_research_statistics_course_completed_date, 'Basic Research Statistics Course Completed', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.text_field :basic_research_statistics_course_completed_date, class: 'datepicker form-control', value: applicant.basic_research_statistics_course_completed_date ? applicant.basic_research_statistics_course_completed_date.strftime('%m/%d/%Y') : '' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <div class="callout callout-info">
      Recommended for pre-docs, required for post-docs
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :advanced_research_statistics_course_completed_date, 'Advanced Research Statistics Course Completed', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.text_field :advanced_research_statistics_course_completed_date, class: 'datepicker form-control', value: applicant.advanced_research_statistics_course_completed_date ? applicant.advanced_research_statistics_course_completed_date.strftime('%m/%d/%Y') : '' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <div class="callout callout-info">
      Recommended for pre-docs, required for post-docs
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :neuroscience_course_completed_date, 'Neuroscience Course Completed', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.text_field :neuroscience_course_completed_date, class: 'datepicker form-control', value: applicant.neuroscience_course_completed_date ? applicant.neuroscience_course_completed_date.strftime('%m/%d/%Y') : '' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :hsoph_summer_session_course_completed_date, 'Harvard School of Public Health Summer Session Courses Completed', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.text_field :hsoph_summer_session_course_completed_date, class: 'datepicker form-control', value: applicant.hsoph_summer_session_course_completed_date ? applicant.hsoph_summer_session_course_completed_date.strftime('%m/%d/%Y') : '' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :individual_funding_submission_date, 'Submitted application for Individual Funding', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.text_field :individual_funding_submission_date, class: 'datepicker form-control', value: applicant.individual_funding_submission_date ? applicant.individual_funding_submission_date.strftime('%m/%d/%Y') : '' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :individual_funding_type, 'Individual Funding Type', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_area :individual_funding_type, rows: 7, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_idp_date, 'Last IDP', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.text_field :last_idp_date, class: 'datepicker form-control', value: applicant.last_idp_date ? applicant.last_idp_date.strftime('%m/%d/%Y') : '' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <div class="callout callout-info">
      Recommended for predocs, required annually for postdocs
    </div>
  </div>
</div>
