<div class="page-header">
  <h2>Exit Interview</h2>
</div>

<div class="form-group">
  <%= f.label :future_email, '1. What email address can we reach you at in the future?', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.email_field :future_email, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :entrance_year, '2. What year did you enter the program?', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.number_field :entrance_year, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :t32_funded, '3. Were you funded by the T32 grant?', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <% [['Yes', '1'], ['No', '0']].each do |name, value| %>
      <% selected = ((value == '1' and applicant.t32_funded == true) or (value == '0' and applicant.t32_funded == false)) %>
      <label class="radio-inline"><%= f.radio_button :t32_funded, value, checked: selected %> <%= name %></label>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :t32_funded_years, '3. a. If yes, how many years?', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.select :t32_funded_years, [['---', nil]] + (1..5).collect{|i| [pluralize(i, 'Year'), i]}, {}, class: 'form-control' %>
    <div class="callout callout-info">
      <h4>Calculating Total Years</h4>
      <p>Please round up, e.g. 1.5 years = 2 years.</p>
      <p>If supported for both pre- and postdoctoral training, list the number of postdoctoral training years.</p>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :academic_program_completed, '4. Did you complete the entire academic program?', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <% [['Yes', '1'], ['No', '0']].each do |name, value| %>
      <% selected = ((value == '1' and applicant.academic_program_completed == true) or (value == '0' and applicant.academic_program_completed == false)) %>
      <label class="radio-inline"><%= f.radio_button :academic_program_completed, value, checked: selected %> <%= name %></label>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :certificate_application, '4. a. If so, please download, complete, and reattach the following form to apply for a Certificate in Sleep Medicine.', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.file_field :certificate_application, class: 'form-control' %>
    <%= f.hidden_field :certificate_application_cache %>
    <div class="callout callout-info">
      <h4>Example Document</h4>
      You can download an example <%= link_to 'Certificate Program', 'https://sleep.med.harvard.edu/training/research-training-program/certificate', class: 'btn btn-xs btn-default', target: '_blank' %> as a template.
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :research_project_title, '5. What was the title of the research project that you worked on during your training?', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :research_project_title, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :laboratories, '6. In which type of laboratory did you work? Select all that apply.', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= hidden_field_tag :set_laboratories, '1' %>
    <% Applicant::LABORATORIES.each do |name, value| %>
      <label class="checkbox-inline"><%= check_box_tag "applicant[laboratories][]", value, applicant.laboratories.include?(value) %> <%= name %></label>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :immediate_transition, "7. Are you transitioning directly to a new position?", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <% [['Yes', '1'], ['No', '0']].each do |name, value| %>
      <% selected = ((value == '1' and applicant.immediate_transition == true) or (value == '0' and applicant.immediate_transition == false)) %>
      <label class="radio-inline"><%= f.radio_button :immediate_transition, value, checked: selected %> <%= name %></label>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :transition_position, "7. a. If yes, select all that apply.", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= hidden_field_tag :set_transition_position, '1' %>
    <% Applicant::TRANSITION_POSITIONS.each do |name, value| %>
      <label class="checkbox-inline"><%= check_box_tag "applicant[transition_position][]", value, applicant.transition_position.include?(value) %> <%= name %></label>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :transition_position_other, '7. b. If other, describe:', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :transition_position_other, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :termination_feedback, "8. Please include any other feedback you may have about your experience in the Training Program in Sleep, Circadian, and Respiratory Neurobiology.", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_area :termination_feedback, rows: 7, class: 'form-control' %>
  </div>
</div>
