%table.table.table-striped.table-bordered.table-hover.table-sticky.table-sm
  %thead
    %tr
      = th_sort_field @order, "applicants.last_name", "Name"
      = th_sort_field @order, "applicants.training_period_start_date", "Training Period Start Date"
      = th_sort_field @order, "applicants.research_in_progress_date", "Research-In-Progress Date"
      = th_sort_field @order, "applicants.research_ethics_training_completed_date", "Research Ethics Training Completed"
      = th_sort_field @order, "applicants.grant_writing_training_completed_date", "Grant Writing Training Completed"
      = th_sort_field @order, "applicants.basic_research_statistics_course_completed_date", "Basic Research Statistics Course Completed"
      = th_sort_field @order, "applicants.advanced_research_statistics_course_completed_date", "Advanced Research Statistics Course Completed"
      = th_sort_field @order, "applicants.neuroscience_course_completed_date", "Neuroscience Course"
      = th_sort_field @order, "applicants.hsoph_summer_session_course_completed_date", "HSPH Summer Session Courses"
      = th_sort_field @order, "applicants.individual_funding_submission_date", "Submitted application for Individual Funding"
      = th_sort_field @order, "applicants.last_idp_date", "Last IDP"
      %th.text-center Actions

  %tbody
    - @applicants.each_with_index do |applicant, index|
      %tr
        %td= link_to applicant.name, applicant
        %td.nowrap= applicant.training_period_start_date
        %td.nowrap= applicant.research_in_progress_date
        %td.nowrap= applicant.research_ethics_training_completed_date
        %td.nowrap= applicant.grant_writing_training_completed_date
        %td.nowrap= applicant.basic_research_statistics_course_completed_date
        %td.nowrap= applicant.advanced_research_statistics_course_completed_date
        %td.nowrap= applicant.neuroscience_course_completed_date
        %td.nowrap= applicant.hsoph_summer_session_course_completed_date
        %td.nowrap= applicant.individual_funding_submission_date
        %td.nowrap= applicant.last_idp_date
        %td.text-center
          = render "layouts/edit_delete_dropdown", edit_url: edit_applicant_path(applicant), delete_url: applicant, delete_confirmation: "Delete #{applicant.name}?"

.center-horizontally= paginate @applicants, theme: "bootstrap"
