<%= render partial: 'layouts/per_page', locals: { type: 'applicants', per_page: 40, object_count: @applicant_count } %>

<table class="table table-striped table-bordered" style="width:100%;" id="thetable" cellspacing="0" cellspacing="0" cellpadding="0" border="0">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.last_name', 'Name', 'applicants_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.email', 'Email', 'applicants_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.applicant_type', 'Type', 'applicants_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.reviewed', 'Reviewed', 'applicants_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.review_date', 'Review date', 'applicants_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.offered', 'Offered', 'applicants_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.accepted', 'Accepted', 'applicants_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.enrolled', 'Enrolled', 'applicants_search') %></th>
      <th>CV number</th>
      <th>Disabled</th>
      <th>Disadvantaged</th>
      <th>TGE</th>
      <th>URM</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.status', 'Status', 'applicants_search') %></th>
      <th>Supported by TG</th>
      <th>Trainee code</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.submitted_at', 'Submitted', 'applicants_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'applicants.current_sign_in_at', 'Recent Activity', 'applicants_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each_with_index do |applicant, index| %>
      <tr class="<%= 'first' if index == 0 %>">
        <td><%= link_to applicant.name, applicant %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.applicant_type %></td>
        <td style="text-align:center" rel="tooltip" title="Reviewed"><%= simple_check applicant.reviewed %></td>
        <td rel="tooltip" title="Review date"><%= applicant.review_date %></td>
        <td style="text-align:center" rel="tooltip" title="Offered"><%= simple_check applicant.offered %></td>
        <td style="text-align:center" rel="tooltip" title="Accepted"><%= simple_check applicant.accepted %></td>
        <td style="text-align:center" rel="tooltip" title="Enrolled"><%= simple_check applicant.enrolled %></td>
        <td rel="tooltip" title="CV Number"><%= applicant.cv_number %></td>
        <td style="text-align:center" rel="tooltip" title="Disabled"><%= simple_check applicant.disabled %></td>
        <td style="text-align:center" rel="tooltip" title="Disadvantaged"><%= simple_check applicant.disadvantaged %></td>
        <td style="text-align:center" rel="tooltip" title="TGE"><%= simple_check applicant.tge %></td>
        <td style="text-align:center" rel="tooltip" title="URM"><%= simple_check applicant.urm %></td>
        <td rel="tooltip" title="Status"><%= applicant.status %></td>
        <td style="text-align:center" rel="tooltip" title="Supported"><%= simple_check applicant.supported_by_tg %></td>
        <td><%= applicant.trainee_code %></td>
        <td rel="tooltip" title="Submitted"><%= simple_time applicant.submitted_at %></td>
        <td rel="tooltip" title="Recent"><%= recent_activity(applicant.current_sign_in_at) %></td>
        <td>
          <%= link_to 'Edit', edit_applicant_path(applicant), class: 'btn btn-mini' %>
          <%= link_to 'Delete', applicant, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Applicant #{applicant.name}?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<center><%= paginate @applicants %></center>
