<div id="send_email_modal" class="modal" style="display:none">
  <div class="modal-header">
    Annual Update Reminder Email
    <a class="close" data-dismiss="modal">×</a>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <%= label_tag :year, nil, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= text_field_tag :year, Date.today.year %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :subject, nil, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= text_field_tag :subject, ANNUAL_EMAIL_SUBJECT, style: 'width:95%' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :body, nil, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= text_area_tag :body, ANNUAL_EMAIL_BODY, rows: 20, style: 'width:95%' %>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <%= link_to 'Close', '#', class: 'btn btn-default', data: { target: '#send_email_modal', object: 'modal-hide' } %>
    <%= link_to 'Send Email', '#', class: 'btn btn-primary', id: 'send_annual_email' %>
  </div>
</div>
