- if defined?(applicant_id)
  - applicant_scope = Applicant.current.where(id: applicant_id)
- else
  - applicant_scope = Applicant.supported_by_tg_in_last_fifteen_years

#send_email_modal.modal{ tabindex: "-1", role: "dialog", aria: { hidden: "true" } }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title Annual Update Reminder Email
        %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } }= icon("fas", "times")

      .modal-body
        = form_with url: send_annual_reminder_email_applicants_path, method: :post, local: true, id: "annual_reminder_email_form" do |form|
          = hidden_field_tag "applicant_id", (defined?(applicant_id) ? applicant_id : nil)

          .form-group.row
            = label_tag :year, nil, class: "col-md-2 col-form-label"
            .col-md-10
              = text_field_tag :year, Time.zone.today.year, class: "form-control"

          .form-group.row
            = label_tag :subject, nil, class: "col-md-2 col-form-label"
            .col-md-10
              = text_field_tag :subject, ENV["annual_email_subject"], class: "form-control"

          .form-group.row
            = label_tag :body, nil, class: "col-md-2 col-form-label"
            .col-md-10
              = text_area_tag :body, ENV["annual_email_body"], rows: 20, class: "form-control"

          .form-group.row
            = label_tag :recipients, nil, class: "col-md-2 col-form-label"
            .col-md-10{ style: "margin-top: 8px" }
              = applicant_scope.sort { |a, b| a.years_since_training_end_date <=> b.years_since_training_end_date }.collect { |applicant| "<span style='white-space:nowrap'><span class='badge'>#{pluralize applicant.years_since_training_end_date, 'year'}</span> #{applicant.name} &lt;#{applicant.email}&gt; </span>" }.join('<br />').html_safe

      .modal-footer
        = link_to "Close", "#", class: "btn btn-light", data: { dismiss: "modal" }
        = link_to "Send Email", "#", class: "btn btn-primary", id: "send_annual_email"
