<% width = '1074px' %>

<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :middle_initial %><br />
      <%= f.text_field :middle_initial %>
    </div>
    <div class="field">
      <%= f.label :applicant_type %><br />
      <%= f.select :applicant_type, Applicant::APPLICANT_TYPE %>
    </div>
    <div class="field">
      <%= f.label :accepted %><br />
      <%= f.check_box :accepted %>
    </div>
    <div class="field">
      <%= f.label :advisor %><br />
      <%= f.text_field :advisor %>
    </div>
    <div class="field">
      <%= f.label :applicant_number %><br />
      <%= f.number_field :applicant_number %>
    </div>
    <div class="field">
      <%= f.label :concentration_major %><br />
      <%= f.text_field :concentration_major %>
    </div>
    <div class="field">
      <%= f.label :current_institution %><br />
      <%= f.text_field :current_institution %>
    </div>
    <div class="field">
      <%= f.label :cv %><br />
      <%= f.check_box :cv %>
    </div>
    <div class="field">
      <%= f.label :degree_sought %><br />
      <%= f.text_field :degree_sought %>
    </div>
    <div class="field">
      <%= f.label :department_program %><br />
      <%= f.text_field :department_program %>
    </div>
    <div class="field">
      <%= f.label :disabled %><br />
      <%= f.check_box :disabled %>
    </div>
    <div class="field">
      <%= f.label :disadvantaged %><br />
      <%= f.check_box :disadvantaged %>
    </div>
    <div class="field">
      <%= f.label :enrolled %><br />
      <%= f.check_box :enrolled %>
    </div>
    <div class="field">
      <%= f.label :expected_year %><br />
      <%= f.number_field :expected_year %>
    </div>
    <div class="field">
      <%= f.label :offered %><br />
      <%= f.check_box :offered %>
    </div>
    <div class="field">
      <%= f.label :preferred_preceptor_id %><br />
      <%= f.number_field :preferred_preceptor_id %>
    </div>
    <div class="field">
      <%= f.label :primary_preceptor_id %><br />
      <%= f.number_field :primary_preceptor_id %>
    </div>
    <div class="field">
      <%= f.label :secondary_preceptor_id %><br />
      <%= f.number_field :secondary_preceptor_id %>
    </div>
    <div class="field">
      <%= f.label :previous_institutions %><br />
      <%= f.text_area :previous_institutions, rows: 7, style: "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :review_date %><br />
      <%= f.date_select :review_date %>
    </div>
    <div class="field">
      <%= f.label :reviewed %><br />
      <%= f.check_box :reviewed %>
    </div>
    <div class="field">
      <%= f.label :summer %><br />
      <%= f.check_box :summer %>
    </div>
    <div class="field">
      <%= f.label :tge, "TGE" %><br />
      <%= f.check_box :tge %>
    </div>
    <div class="field">
      <%= f.label :thesis %><br />
      <%= f.text_field :thesis %>
    </div>
    <div class="field">
      <%= f.label :urm %><br />
      <%= f.check_box :urm %>
    </div>
    <div class="field">
      <%= f.label :year %><br />
      <%= f.number_field :year %>
    </div>
    <div class="field">
      <%= f.label :degree_type %><br />
      <%= f.text_field :degree_type %>
    </div>
    <div class="field">
      <%= f.label :degrees %><br />
      <%= f.text_field :degrees %>
    </div>
    <div class="field">
      <%= f.label :notes %><br />
      <%= f.text_area :notes, rows: 7, style: "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :residency %><br />
      <%= f.text_field :residency %>
    </div>
    <div class="field">
      <%= f.label :year_department_program %><br />
      <%= f.text_field :year_department_program %>
    </div>
    <div class="field">
      <%= f.label :training_period_start_date %><br />
      <%= f.date_select :training_period_start_date %>
    </div>
    <div class="field">
      <%= f.label :training_period_end_date %><br />
      <%= f.date_select :training_period_end_date %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :appointment_type %><br />
      <%= f.text_field :appointment_type %>
    </div>
    <div class="field">
      <%= f.label :status %><br />
      <%= f.select :status, Applicant::STATUS %>
    </div>
    <div class="field">
      <%= f.label :current_position_or_source_of_support %><br />
      <%= f.text_field :current_position_or_source_of_support %>
    </div>
    <div class="field">
      <%= f.label :address1 %><br />
      <%= f.text_field :address1 %>
    </div>
    <div class="field">
      <%= f.label :address2 %><br />
      <%= f.text_field :address2 %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :country %><br />
      <%= f.text_field :country %>
    </div>
    <div class="field">
      <%= f.label :zip_code %><br />
      <%= f.text_field :zip_code %>
    </div>
    <div class="field">
      <%= f.label :coursework_comp %><br />
      <%= f.text_area :coursework_comp, rows: 7, style: "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :fax %><br />
      <%= f.text_field :fax %>
    </div>
    <div class="field">
      <%= f.label :grant_years %><br />
      <%= f.text_field :grant_years %>
    </div>
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :presentations %><br />
      <%= f.text_area :presentations, rows: 7, style: "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :pubs_not_prev_rep %><br />
      <%= f.text_field :pubs_not_prev_rep %>
    </div>
    <div class="field">
      <%= f.label :research_description %><br />
      <%= f.text_area :research_description, rows: 7, style: "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :source_of_support %><br />
      <%= f.text_field :source_of_support %>
    </div>
    <div class="field">
      <%= f.label :supported_by_tg, "Supported by TG" %><br />
      <%= f.check_box :supported_by_tg %>
    </div>
    <div class="field">
      <%= f.label :tg_years, "TG Years" %><br />
      <%= f.text_field :tg_years %>
    </div>
    <div class="field">
      <%= f.label :research_project_title %><br />
      <%= f.text_field :research_project_title %>
    </div>
    <div class="field">
      <%= f.label :trainee_code %><br />
      <%= f.text_field :trainee_code %>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = @applicant.new_record? ? 'new_applicant' : "edit_applicant_#{@applicant.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@applicant.new_record? ? "Create Applicant" : "Update Applicant"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
    <br />
  </div>
<% end %>
