<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@applicant, html: { class: 'form-horizontal' }) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'applicants/form/general', locals: { f: f, applicant: @applicant } %>

  <%= render partial: 'applicants/form/education', locals: { f: f, applicant: @applicant } %>

  <%= render partial: 'applicants/form/demographic', locals: { f: f, applicant: @applicant } %>

  <%= render partial: 'applicants/form/contact', locals: { f: f } %>

  <%= render partial: 'applicants/form/trainee', locals: { f: f } %>

  <%= render partial: 'applicants/form/annual', locals: { f: f } %>

  <% if current_user.administrator? %>
    <%= render partial: 'applicants/form/admin_only', locals: { f: f, applicant: @applicant } %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', @applicant.new_record? ? root_path : @applicant, class: 'btn btn-danger' %>
  </div>
<% end %>
