= form_with model: applicant, local: true do |form|
  = render "applicants/form/general", form: form, applicant: applicant
  = render "applicants/form/contact", form: form, applicant: applicant
  = render "applicants/form/education", form: form, applicant: applicant
  = render "applicants/form/demographic", form: form, applicant: applicant
  = render "applicants/form/progress_report_data", form: form, applicant: applicant
  = render "applicants/form/termination", form: form, applicant: applicant
  - if current_user.administrator?
    = render "applicants/form/admin_only", form: form, applicant: applicant
    = render "applicants/form/program_requirements", form: form, applicant: applicant
  = render "forms/horizontal/submit", form: form, object: applicant
