<% @title = "Applicant Dashboard" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Application", edit_me_applicants_path, class: 'btn btn-mini' unless current_applicant.assurance? %>
  </h1>
</div>

<% if current_applicant.assurance? %>
  <div class="hero-unit">
    <h1>Congratulations!
      <small>Your application was submitted <span style="background-color: #baffba;" class="tag_bubble"><%= simple_time current_applicant.submitted_at %></span>!</small>
    </h1>

  </div>
<% end %>

<div class="row">
  <div class="span6">
    <div class="page-header"><h2>Applicant Info (Predoc Postdoc)</h2></div>

    <dl class="dl-horizontal">
      <dt>Reference number</dt>
      <dd><%= current_applicant.reference_number %></dd>

      <dt>Email</dt>
      <dd><%= current_applicant.email %></dd>

      <dt>Applicant type</dt>
      <dd><%= current_applicant.applicant_type %></dd>

      <dt>Summer</dt>
      <dd><%= simple_check current_applicant.summer %></dd>

      <dt>US Citizen or Permanent Resident</dt>
      <dd><%= simple_check current_applicant.tge %></dd>

      <dt>Desired start date</dt>
      <dd><%= current_applicant.desired_start_date %></dd>
    </dl>
  </div>

  <div class="span6">
    <div class="page-header"><h2>Education</h2></div>

    <dl class="dl-horizontal">
      <dt>Advisor</dt>
      <dd><%= current_applicant.advisor %></dd>

      <dt>Concentration major</dt>
      <dd><%= current_applicant.concentration_major %></dd>

      <dt>Current institution</dt>
      <dd><%= current_applicant.current_institution %></dd>

      <dt>Cv</dt>
      <dd><%= simple_check current_applicant.cv %></dd>

      <dt>Degree sought</dt>
      <dd><%= current_applicant.degree_sought %></dd>

      <dt>Department program</dt>
      <dd><%= current_applicant.department_program %></dd>

      <dt>Expected year</dt>
      <dd><%= current_applicant.expected_year %></dd>

      <dt>Preferred preceptor</dt>
      <dd><%= link_to current_applicant.preferred_preceptor.name, current_applicant.preferred_preceptor if current_applicant.preferred_preceptor %></dd>

      <dt>Primary preceptor</dt>
      <dd><%= link_to current_applicant.primary_preceptor.name, current_applicant.primary_preceptor if current_applicant.primary_preceptor %></dd>

      <dt>Secondary preceptor</dt>
      <dd><%= link_to current_applicant.secondary_preceptor.name, current_applicant.secondary_preceptor if current_applicant.secondary_preceptor %></dd>

      <dt>Previous institutions</dt>
      <dd><%= current_applicant.previous_institutions %></dd>

      <dt>Thesis</dt>
      <dd><%= current_applicant.thesis %></dd>

      <dt>Degrees</dt>
      <dd><%= current_applicant.degrees %></dd>

      <dt>Current title</dt>
      <dd><%= current_applicant.current_title %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="page-header"><h2>Demographic Information</h2></div>

    <dl class="dl-horizontal">
      <dt>Disabled</dt>
      <dd><%= simple_check current_applicant.disabled %></dd>

      <dt>Disadvantaged</dt>
      <dd><%= simple_check current_applicant.disadvantaged %></dd>

      <dt>Under-Represented Minority</dt>
      <dd><%= simple_check current_applicant.urm %></dd>

      <dt>Marital status</dt>
      <dd><%= current_applicant.marital_status %></dd>
    </dl>
  </div>

  <div class="span6">
    <div class="page-header"><h2>Contact Information</h2></div>

    <dl class="dl-horizontal">
      <dt>Phone</dt>
      <dd><%= current_applicant.phone %></dd>

      <dt>Address1</dt>
      <dd><%= current_applicant.address1 %></dd>

      <dt>Address2</dt>
      <dd><%= current_applicant.address2 %></dd>

      <dt>City</dt>
      <dd><%= current_applicant.city %></dd>

      <dt>State</dt>
      <dd><%= current_applicant.state %></dd>

      <dt>Country</dt>
      <dd><%= current_applicant.country %></dd>

      <dt>Zip code</dt>
      <dd><%= current_applicant.zip_code %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="page-header"><h2>Postdoc Only</h2></div>

    <dl class="dl-horizontal">
      <dt>Residency</dt>
      <dd><%= current_applicant.residency %></dd>
    </dl>
  </div>

  <div class="span6">
    <div class="page-header"><h2>Trainee Only</h2></div>

    <dl class="dl-horizontal">
      <dt>Research project title</dt>
      <dd><%= current_applicant.research_project_title %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="page-header"><h2>Annual Only</h2></div>

    <dl class="dl-horizontal">
      <dt>Coursework comp</dt>
      <dd><%= current_applicant.coursework_completed %></dd>

      <dt>Publications (Not Previously Reported)</dt>
      <dd><%= current_applicant.pubs_not_prev_rep %></dd>

      <dt>Presentations</dt>
      <dd><%= current_applicant.presentations %></dd>

      <dt>Research description</dt>
      <dd><%= current_applicant.research_description %></dd>

      <dt>Source of support</dt>
      <dd><%= current_applicant.source_of_support %></dd>
    </dl>
  </div>
</div>
