<% @title = "Applicant/Trainee Dashboard" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_applicant.submitted_at.blank? %>
      <%= link_to "Edit Application", edit_me_applicants_path, class: 'btn btn-mini' %>
      <span class="label label-warning">Draft</span>
    <% end %>
    <%= link_to "Exit Interview", exit_interview_applicants_path, class: 'btn btn-mini' if current_applicant.enrolled? %>
  </h1>
</div>

<%= render partial: 'annuals/menu_bar', locals: { applicant: current_applicant } %>

<% unless current_applicant.submitted_at.blank? %>
  <div class="hero-unit">
    <h1>Congratulations!
      <small>Your application was submitted <span style="background-color: #baffba;" class="tag_bubble"><%= simple_time current_applicant.submitted_at %></span>!</small>
    </h1>
  </div>
<% end %>

<div class="row">
  <div class="span6">
    <%= render partial: 'applicants/show/general', locals: { applicant: current_applicant } %>
  </div>

  <div class="span6">
    <%= render partial: 'applicants/show/education', locals: { applicant: current_applicant } %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= render partial: 'applicants/show/contact', locals: { applicant: current_applicant } %>
  </div>

  <div class="span6">
    <%= render partial: 'applicants/show/demographic', locals: { applicant: current_applicant } %>
  </div>
</div>

<% if current_applicant.enrolled? %>
  <div class="row">
    <div class="span6">
      <%= render partial: 'applicants/show/termination', locals: { applicant: current_applicant } %>
    </div>
  </div>
<% end %>

<%= render partial: 'annuals/index', locals: { applicant: current_applicant } %>

<% if false %>
<div class="row">
  <div class="span6">
    <%= render partial: 'applicants/show/trainee', locals: { applicant: current_applicant } %>
  </div>

  <div class="span6">
    <%= render partial: 'applicants/show/annual', locals: { applicant: current_applicant } %>
  </div>
</div>
<% end %>
