<% @title = 'Edit My Application' %>
<div class="pull-right"><%= link_to "Help", '#', class: 'btn btn-info', data: { object: 'modal-show', target: '#help_email_modal' } %></div>

<% form_name = "edit_applicant_#{current_applicant.id}" %>
<%= form_for current_applicant, url: update_me_applicants_path, method: :put, html: { id: form_name, class: 'form-horizontal' } do |f| %>
  <% if current_applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% current_applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'applicants/form/general', locals: { f: f, applicant: current_applicant } %>

  <%= render partial: 'applicants/form/contact', locals: { f: f } %>

  <%= render partial: 'applicants/form/education', locals: { f: f, applicant: current_applicant } %>

  <%= render partial: 'applicants/form/demographic', locals: { f: f, applicant: current_applicant } %>

  <div class="hero-unit">
    <h3>
      Applicant Assurance and Sign Off
    </h3>

    <blockquote style="margin-top:20px">
      I certify that the above information is true and correct to the best of my knowledge.
    </blockquote>

    <% if defined?(TG_ADMIN_EMAIL) and not TG_ADMIN_EMAIL.blank? and defined?(TG_ADMIN_ADDRESS) and not TG_ADMIN_ADDRESS.blank? %>
      <div><span class="label label-info">Important:</span> Please remember you need <strong>3 letters of recommendation</strong> and <strong>a letter from your potential preceptor!</strong></div>

      <div class="form-group" style="margin-top:10px">
        <%= f.label :letters_from_a, 'My Recommendation Letters will be from', class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.text_field :letters_from_a, class: 'input-xlarge' %>
        </div>
        <div class="col-md-10">
          <%= f.text_field :letters_from_b, class: 'input-xlarge' %>
        </div>
        <div class="col-md-10">
          <%= f.text_field :letters_from_c, class: 'input-xlarge' %>
        </div>
      </div>


      <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd><address><%= simple_format TG_ADMIN_EMAIL %></address></dd>
        <dt>Mail</dt>
        <dd><address><%= simple_format TG_ADMIN_ADDRESS %></address></dd>
      </dl>

    <% end %>

    <div class="form-group checkbox">
      <%= f.check_box :assurance %>
      <%= f.label :assurance, 'Please tick to confirm that you have read and understand the above text' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.hidden_field :publish, value: '0' %>
    <%= link_to 'Save Draft', '#', data: { object: 'applicant-save', publish: '0', target: "##{form_name}" }, class: 'btn btn-warning' %>
    <%= link_to "Submit Application for Review", '#', data: { object: 'applicant-save', publish: '1', target: "##{form_name}", assurance: true }, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', dashboard_applicants_path, class: 'btn' %>
  </div>
<% end %>

<%= render partial: 'applicants/help_modal', locals: { applicant: current_applicant, subject: 'Editing Application' } %>
