<% @title = 'Edit My Application' %>

<% form_name = "edit_applicant_#{current_applicant.id}" %>
<%= form_for(current_applicant, url: update_me_applicants_path, html: { id: form_name }) do |f| %>
  <% if current_applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% current_applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Applicant Info (Predoc Postdoc)</legend>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <table class="blank padded">
      <tr>
        <td style="vertical-align:top">
          <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </div>
        </td>
        <td style="vertical-align:top">
          <div class="field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </div>
        </td>
        <td style="vertical-align:top">
          <div class="field">
            <%= f.label :middle_initial %>
            <%= f.text_field :middle_initial %>
          </div>
        </td>
      </tr>
    </table>
    <div class="field">
      <%= f.label :applicant_type %>
      <%= f.select :applicant_type, Applicant::APPLICANT_TYPE %>
    </div>

    <div class="field">
      <%= f.label :summer %>
      <%= f.check_box :summer %>
    </div>

    <div class="field">
      <%= f.label :tge, "US Citizen or Permanent Resident" %>
      <span class="quiet">Please note that only citizens and permanent residents are eligible for training grant support</span>
      <%= f.check_box :tge %>
    </div>

    <div class="field">
      <%= f.label :desired_start_date %>
      <%= f.text_field :desired_start_date, class: 'datepicker', value: current_applicant.desired_start_date ? current_applicant.desired_start_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Education</legend>
    <div class="field">
      <%= f.label :advisor %>
      <%= f.text_field :advisor %>
    </div>

    <div class="field">
      <%= f.label :concentration_major %>
      <%= f.text_field :concentration_major %>
    </div>
    <div class="field">
      <%= f.label :current_institution %>
      <%= f.text_field :current_institution %>
    </div>
    <div class="field">
      <%= f.label :cv %>
      <%= f.check_box :cv %>
    </div>
    <div class="field">
      <%= f.label :degree_sought %>
      <%= f.text_field :degree_sought %>
    </div>
    <div class="field">
      <%= f.label :department_program %>
      <%= f.text_field :department_program %>
    </div>

    <div class="field">
      <%= f.label :expected_year, "Expected Graduation Year" %>
      <%= f.number_field :expected_year %>
    </div>

    <div class="field">
      <%= f.label :preferred_preceptor_id %>
      <%= f.select :preferred_preceptor_id, [['---', nil]] + Preceptor.current.collect{|p| [p.name, p.id]} %>
    </div>

    <div class="field">
      <%= f.label :previous_institutions %>
      <%= f.text_area :previous_institutions, rows: 7, style: "width:99%" %>
    </div>

    <div class="field">
      <%= f.label :thesis %>
      <%= f.text_field :thesis %>
    </div>

    <div class="field">
      <%= f.label :degrees %>
      <%= f.text_field :degrees %>
    </div>

    <div class="field">
      <%= f.label :current_title %>
      <%= f.text_field :current_title %>
    </div>

  </fieldset>

  <fieldset>
    <legend>Demographic Information</legend>
    <table class="blank padded">
      <tr>
        <td style="vertical-align:top">
          <div class="field">
            <%= f.label :disabled %>
            <%= f.check_box :disabled %>
          </div>
        </td>
        <td style="vertical-align:top">
          <div class="field">
            <%= f.label :disadvantaged %>
            <%= f.check_box :disadvantaged %>
          </div>
        </td>
        <td style="vertical-align:top">
          <div class="field">
            <%= f.label :urm, "Under-Represented Minority" %>
            <%= f.check_box :urm %>
          </div>
        </td>
      </tr>
    </table>

    <div class="field">
      <%= f.label :marital_status %>
      <%= f.select :marital_status, [['---', nil]] + Applicant::MARITAL_STATUS %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Contact Information</legend>
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :address1 %>
      <%= f.text_field :address1 %>
    </div>
    <div class="field">
      <%= f.label :address2 %>
      <%= f.text_field :address2 %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :country %>
      <%= f.text_field :country %>
    </div>
    <div class="field">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>
    </div>

  </fieldset>

  <fieldset>
    <legend>Postdoc Only</legend>

    <div class="field">
      <%= f.label :residency %>
      <%= f.text_field :residency %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Trainee Only</legend>
    <div class="field">
      <%= f.label :research_project_title %>
      <%= f.text_field :research_project_title %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Annual Only</legend>

    <div class="field">
      <%= f.label :coursework_completed %>
      <%= f.text_area :coursework_completed, rows: 7, style: "width:99%" %>
    </div>
    <div class="field">
      <%= f.label :pubs_not_prev_rep, "Publications (Not Previously Reported)" %>
      <%= f.text_field :pubs_not_prev_rep %>
    </div>

    <div class="field">
      <%= f.label :presentations %>
      <%= f.text_area :presentations, rows: 7, style: "width:99%" %>
    </div>

    <div class="field">
      <%= f.label :research_description %>
      <%= f.text_area :research_description, rows: 7, style: "width:99%" %>
    </div>
    <div class="field">
      <%= f.label :source_of_support %>
      <%= f.text_field :source_of_support %>
    </div>
  </fieldset>

  <div class="hero-unit">
    <h3>
      Applicant Assurance and Sign Off
      <small>I certify that the above information is true and correct to the best of my knowledge.</small>
    </h3>

    <%= f.check_box :assurance %> <%= f.label :assurance, 'Please tick to confirm that you have read and understand the above text' %>
  </div>

  <div class="form-actions">
    <%= hidden_field_tag 'publish', '0' %>
    <%= link_to_function "Save Draft", "$('#publish').val('0');$('##{form_name}').submit();", class: 'btn' %>
    <%= link_to_function "Submit Application for Review", "if(applicantAssuranceCheck() == false){return false;};$('#publish').val('1');$('##{form_name}').submit();", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', dashboard_applicants_path, class: 'btn btn-danger' %>

  </div>
<% end %>
