- @title = "Edit My Application"

- content_for :header do
  .float-right= link_to "Help", "#", class: "btn btn-info", data: { object: "modal-show", target: "#help_email_modal" }
  = @title

.dashboard-container
  - form_name = "edit_applicant_#{current_applicant.id}"
  = form_with model: current_applicant, url: update_me_applicants_path, method: :patch, local: true, id: form_name do |form|
    - if current_applicant.errors.any?
      .bg-danger.text-white.p-3.rounded.mb-3
        = pluralize current_applicant.errors.count, "error"
        prohibited this applicant from being saved.

        %ul
          - current_applicant.errors.full_messages.each do |message|
            %li= message

    = render "applicants/form/general", form: form, applicant: current_applicant
    = render "applicants/form/contact", form: form, applicant: current_applicant
    = render "applicants/form/education", form: form, applicant: current_applicant
    = render "applicants/form/demographic", form: form, applicant: current_applicant
    = render "applicants/form/progress_report_data", form: form, applicant: current_applicant

    .brand-title Applicant Assurance and Sign Off

    - if defined?(ENV["tg_admin_email"]) && ENV["tg_admin_email"].present? && defined?(ENV["tg_admin_address"]) && ENV["tg_admin_address"].present?
      .form-group.row
        = form.label :letters_from_a, "My Recommendation Letters will be from", class: "col-md-2 col-form-label"
        .col-md-10
          = form.text_field :letters_from_a, class: "form-control"
          = form.text_field :letters_from_b, class: "form-control"
          = form.text_field :letters_from_c, class: "form-control"
          = render "forms/help_text", help_text: "Please remember you need <strong>3 letters of recommendation</strong> and <strong>a letter from your potential preceptor!</strong>".html_safe

      .form-group.row
        %label.col-md-2.col-form-label Email
        .col-md-10
          .form-control-plaintext= simple_format(ENV["tg_admin_email"])
      .form-group.row
        %label.col-md-2.col-form-label Mail
        .col-md-10
          .form-control-plaintext= simple_format(ENV["tg_admin_address"])


    .p-3.px-md-0.mb-3.bg-light.border.border-dark.rounded= render "forms/horizontal/check_box", form: form, object: current_applicant, key: :assurance, key_name: "I certify that the above information is true and correct to the best of my knowledge.", help_text: "Please tick to confirm that you have read and understand the above text."

    .form-group.row
      .col-md-2
      .col-md-10
        .form-control-plaintext
          = form.hidden_field :publish, value: "0"
          = link_to "Save Draft", "#", data: { object: "applicant-save", publish: "0", target: "##{form_name}" }, class: "btn btn-warning"
          = link_to "Submit Application for Review", "#", data: { object: "applicant-save", publish: "1", target: "##{form_name}", assurance: true }, class: "btn btn-primary"
          = link_to "Cancel", dashboard_applicants_path, class: "btn btn-light"

= render "applicants/help_modal", applicant: current_applicant, subject: "Editing Application"
