- @title = 'Exit Interview'
.pull-right= link_to "Help", '#', class: 'btn btn-info', data: { object: 'modal-show', target: '#help_email_modal' }

= form_for(current_applicant, url: update_exit_interview_applicants_path, method: :post, html: { class: 'form-horizontal' }) do |f|
  - @applicant = current_applicant

  - if @applicant.errors.any?
    .callout.callout-danger
      %h4
        = pluralize @applicant.errors.count, 'error'
        prohibited this exit interview from being saved

      %ul
        - @applicant.errors.full_messages.each do |message|
          %li= message

  = render 'applicants/form/termination', f: f, applicant: current_applicant

  .form-group
    .col-md-offset-2.col-md-10
      %h4
        Thank you for taking the time to complete this form.

      = hidden_field :applicant, :publish_termination, value: '1'
      = f.submit 'Submit Exit Interview', class: 'btn btn-primary'
      = link_to 'Cancel', dashboard_applicants_path, class: 'btn btn-default'

= render 'applicants/help_modal', applicant: current_applicant, subject: 'Exit Interview'
