<% @title = "Exit Interview" %>
<div class="pull-right"><%= link_to "Help", '#', class: 'btn btn-info', data: { object: 'modal-show', target: '#help_email_modal' } %></div>

<%= form_for(current_applicant, url: update_exit_interview_applicants_path, method: :post, html: { class: 'form-horizontal' }) do |f| %>
  <% @applicant = current_applicant %>

  <% if @applicant.errors.any? %>
    <div id="error_explanation" class="callout callout-danger">
      <h4><%= pluralize(@applicant.errors.count, "error") %> prohibited this exit interview from being saved</h4>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'applicants/form/termination', locals: { f: f, applicant: current_applicant } %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <h4>
        Thank you for taking the time to complete this form.
      </h4>

      <%= hidden_field :applicant, :publish_termination, value: '1' %>
      <%= f.submit 'Submit Exit Interview', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', dashboard_applicants_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<%= render partial: 'applicants/help_modal', locals: { applicant: current_applicant, subject: 'Exit Interview' } %>
