- @title = 'Applicants and Trainees'
.page-header
  %h1
    = @title
    = link_to 'Create Applicant', new_applicant_path, class: 'btn btn-xs btn-primary'
    = link_to 'Program Requirements', program_requirements_applicants_path, class: 'btn btn-xs btn-default'

= form_tag applicants_path, method: :get, id: 'applicants_search', class: 'form-vertical' do
  = hidden_field_tag :order, params[:order]

  .row
    .col-md-4.form-group
      = label :search, 'Search', class: 'col-md-2 control-label'
      .col-md-10
        = text_field_tag 'search', params[:search], class: 'form-control', data: { object: 'filter' }

    .col-md-4.form-group
      = label :enrolled, "Enrolled", class: 'col-md-2 control-label'
      .col-md-10
        .btn-group{ data: { toggle: 'buttons' } }
          %label#enrolled-all.btn.btn-default{ class: "#{'active' if params[:enrolled] == 'all'}", data: { object: 'value-set' } }
            = radio_button_tag 'enrolled', 'all', params[:enrolled] == 'all'
            All
          %label.btn.btn-default{ class: "#{'active' if params[:enrolled] == 'only'}", data: { object: 'value-set' } }
            = radio_button_tag 'enrolled', 'only', params[:enrolled] == 'only'
            Enrolled
          %label.btn.btn-default{ class: "#{'active' if params[:enrolled] == 'except'}", data: { object: 'value-set' } }
            = radio_button_tag 'enrolled', 'except', params[:enrolled] == 'except'
            Not Enrolled

  .form-group
    = submit_tag 'Search', class: 'btn btn-primary', name: nil
    = link_to 'Export', '#', class: 'btn btn-default', data: { object: 'export', format: 'csv', target: '#applicants_search' }
    = link_to 'Reset', applicants_path, class: 'btn btn-default'
    = link_to 'Annual Reminder Email', '#', class: 'btn btn-default', data: { target: '#send_email_modal', object: 'modal-show' }

= render 'applicants/applicants'

= render 'applicants/email_modal'

#saving_modal.modal{ tabindex: '-1', role: 'dialog', aria: { hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Sending Emails to Applicants
      .modal-body
        %p
          Your email notifications are being sent...this message will disappear
          when the emails have completed sending.
