- @title = "Program Requirements"

- content_for :header, @title


- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 40, object_count: @applicants.total_count
  %ol
    %li= link_to "applicants", applicants_path
    %li.breadcrumb-muted program requirements


= form_with url: program_requirements_applicants_path, method: :get, local: true, id: "applicants_search", skip_enforcing_utf8: true, class: "mb-3" do |form|
  = form.hidden_field :order, value: params[:order]
  .input-group
    = text_field_tag "search", params[:search], class: "form-control"
    .input-group-append= submit_tag "Search", class: "btn btn-primary", name: nil
    .input-group-append= link_to "Export", "#", class: "btn btn-light", data: { object: "export", format: "csv", target: "#applicants_search" }
    .input-group-append= link_to "Reset", program_requirements_applicants_path, class: "btn btn-light"

- if @applicants.present?
  = render "applicants/applicant_program_requirements"
- else
  .jumbotron.jumbotron-custom-text
    No applicants found.
