<% @title = @applicant.name %>
<div class="page-header">
  <h1>
    <%= link_to "Applicants", applicants_path %> &middot; <%= @title %>
    <%= link_to "Edit Applicant", edit_applicant_path(@applicant), class: 'btn btn-mini' %>
    <%= link_to "Delete Applicant", @applicant, method: :delete, class: 'btn btn-mini btn-danger-inverse', data: { confirm: "Are you sure you want to delete Applicant #{@applicant.name}?" } %>
    <%= link_to "Email Applicant Link", email_applicant_path(@applicant), method: :post, class: 'btn btn-mini' %>
    <%= link_to 'Annual Reminder Email', '#', class: 'btn btn-mini', data: { target: '#send_email_modal', object: 'modal-show' } %>
    <%= link_to 'Exit Interview Email', termination_email_applicant_path(@applicant), method: :post, class: 'btn btn-mini' if @applicant.enrolled? %>
    <% if @applicant.submitted_at.blank? %>
      <span class="label label-warning">Draft</span>
    <% else %>
      <%= link_to "Allow Applicant to Resubmit", unlock_applicant_path(@applicant), method: :post, class: 'btn btn-mini' %>
    <% end %>
  </h1>
</div>

<% if @applicant.recently_notified? %>
  <p>
    Last notified by email <span class="label label-info"><%= simple_time @applicant.emailed_at %></span>
  </p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'applicants/show/general', locals: { applicant: @applicant } %>
  </div>

  <div class="col-md-6">
    <%= render partial: 'applicants/show/education', locals: { applicant: @applicant } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'applicants/show/contact', locals: { applicant: @applicant } %>
  </div>

  <div class="col-md-6">
    <%= render partial: 'applicants/show/demographic', locals: { applicant: @applicant } %>
  </div>
</div>

<div class="row">
  <% if current_user.administrator? %>
    <div class="col-md-6">
      <%= render partial: 'applicants/show/submission', locals: { applicant: @applicant } %>
    </div>
  <% end %>

  <% if @applicant.enrolled? %>
    <div class="col-md-6">
      <%= render partial: 'applicants/show/termination', locals: { applicant: @applicant } %>
    </div>
  <% end %>
</div>

<%= render partial: 'annuals/index', locals: { applicant: @applicant } %>

<% if current_user.administrator? %>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'applicants/show/admin_only', locals: { applicant: @applicant } %>
    </div>

    <% if false %>
      <div class="col-md-6">
        <%= render partial: 'applicants/show/submission', locals: { applicant: @applicant } %>
      </div>
    <% end %>
  </div>
<% end %>

<%= form_tag annual_email_applicant_path(@applicant), method: :post, remote: true, id: "applicants_search" do %>
  <%= hidden_field_tag :annual_subject %>
  <%= hidden_field_tag :annual_body %>
  <%= hidden_field_tag :annual_year %>
<% end %>

<%= render partial: 'applicants/email_modal' %>

<div class="modal hide" id="saving_modal">
  <div class="modal-header">
    <h3>Sending Emails to <%= @applicant.name %></h3>
  </div>
  <div class="modal-body">
    <p>Your email notification is being sent...this message will disappear when the email has completed sending.</p>
  </div>
</div>
