<% @title = "Applicant: #{@applicant.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Applicant", edit_applicant_path(@applicant), class: 'btn btn-mini' %>
    <%= link_to "Delete Applicant", @applicant, confirm: "Are you sure you want to delete Applicant #{@applicant.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
    <%= link_to "View Applicants", applicants_path, class: 'btn btn-mini' %>
    <%= link_to "Email Applicant Link", email_applicant_path(@applicant), method: :post, class: 'btn btn-mini' %>
    <% if @applicant.submitted_at.blank? %>
      <span class="label label-warning">Draft</span>
    <% else %>
      <%= link_to "Allow Applicant to Resubmit", unlock_applicant_path(@applicant), method: :post, class: 'btn btn-mini' %>
    <% end %>
  </h1>
</div>

<% if @applicant.recently_notified? %>
  <p>
    Last notified by email <span class="label label-info"><%= simple_time @applicant.emailed_at %></span>
  </p>
<% end %>

<div class="row">
  <div class="span6">
    <%= render partial: 'applicants/show/general', locals: { applicant: @applicant } %>
  </div>

  <div class="span6">
    <%= render partial: 'applicants/show/education', locals: { applicant: @applicant } %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= render partial: 'applicants/show/demographic', locals: { applicant: @applicant } %>
  </div>

  <div class="span6">
    <%= render partial: 'applicants/show/contact', locals: { applicant: @applicant } %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= render partial: 'applicants/show/trainee', locals: { applicant: @applicant } %>
  </div>

  <div class="span6">
    <%= render partial: 'applicants/show/annual', locals: { applicant: @applicant } %>
  </div>
</div>

<% if current_user.administrator? %>
  <div class="row">
    <div class="span6">
      <%= render partial: 'applicants/show/admin_only', locals: { applicant: @applicant } %>
    </div>

    <div class="span6">
      <%= render partial: 'applicants/show/submission', locals: { applicant: @applicant } %>
    </div>
  </div>
<% end %>
