- @title = "#{@applicant.name} - Applicants and Trainees"
- @menu_title = @applicant.name

- content_for :header, @menu_title

- content_for :breadcrumbs do
  %ol
    %li= link_to "applicants", applicants_path
    %li.breadcrumb-muted= @applicant.name.downcase

.dashboard-container
  = link_to "Edit Applicant", edit_applicant_path(@applicant), class: "btn btn-sm btn-light"
  = link_to "Delete Applicant", @applicant, method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Are you sure you want to delete Applicant #{@applicant.name}?" }
  = link_to "Annual Reminder Email", "#", class: "btn btn-sm btn-light", data: { target: "#send_email_modal", object: "modal-show" }
  = link_to "Email Applicant Link", email_applicant_path(@applicant), method: :post, class: "btn btn-sm btn-primary"
  = link_to "Exit Interview Email", termination_email_applicant_path(@applicant), method: :post, class: "btn btn-sm btn-primary" if @applicant.enrolled?
  - if @applicant.submitted_at.blank?
    %span.badge.badge-warning Draft
  - else
    = link_to "Allow Applicant to Resubmit", unlock_applicant_path(@applicant), method: :post, class: "btn btn-sm btn-primary"

  - if @applicant.recently_notified?
    .mt-3
      Last notified by email
      %span.text-primary= simple_time @applicant.emailed_at

- if current_user.administrator?
  .dashboard-container
    %h5 Applicant Unique Login
    %code.text-primary.small= "#{ENV["website_url"]}/applicants/dashboard?auth_token=#{@applicant.id_and_auth_token}"

.dashboard-container= render "applicants/show/general", applicant: @applicant
.dashboard-container= render "applicants/show/education", applicant: @applicant
.dashboard-container= render "applicants/show/contact", applicant: @applicant
.dashboard-container= render "applicants/show/demographic", applicant: @applicant

.dashboard-container= render "applicants/show/progress_report_data", applicant: @applicant
- if @applicant.enrolled?
  .dashboard-container= render "applicants/show/termination", applicant: @applicant

- if current_user.administrator?
  .dashboard-container= render "applicants/show/submission", applicant: @applicant

.dashboard-container= render "annuals/index", applicant: @applicant

- if current_user.administrator?
  .dashboard-container= render "applicants/show/admin_only", applicant: @applicant
  .dashboard-container= render "applicants/show/program_requirements", applicant: @applicant

= render "applicants/email_modal", applicant_id: @applicant.id

#saving_modal.modal{ tabindex: "-1", role: "dialog", aria: { hidden: "true" } }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Sending Email to
          = @applicant.name
      .modal-body
        %p
          Your email notification is being sent...this message will disappear
          when the email has completed sending.
