- @title = "Forgot your password?"

- @theme = "default"

.page-box.last-box.d-flex.flex-column.justify-content-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container
    %p.lead.text-center.text-white= @title

    .sign-up-form
      .sign-up-form-title
        Reset password for
        - if resource_name == :preceptor
          Preceptors
        - elsif resource_name == :applicant
          Applicants and Trainees
        - elsif resource_name == :user
          Admins

      .text-center.mb-3= render "sites/resource_image"
      = form_with model: resource, as: resource_name, url: password_path(resource_name), method: :post, local: true do |form|
        = render "forms/vertical/email_field", form: form, object: resource, key: :email

        .form-group.submit-btn-container
          = form.submit "Send me reset password instructions", class: "btn btn-primary btn-block btn-shadow"
