<dl class="dl-horizontal">
  <% if preceptor.unconfirmed_email.blank? %>
    <dt>Email</dt>
    <dd>
      <%= preceptor.email %>
    </dd>
  <% else %>
    <dt>Current Email</dt>
    <dd><%= preceptor.email %></dd>
    <dt>Unconfirmed Email</dt>
    <dd>
      <%= preceptor.unconfirmed_email %>
      <%= link_to "Resend confirmation instructions", confirmation_path(preceptor, preceptor: { email: preceptor.unconfirmed_email }), method: :post, class: 'btn btn-mini' %>
      <div class="alert alert-info">
        <strong>Heads up!</strong> This email will remain unconfirmed until you click the link in the "Confirmation instructions" email sent to your account.
      </div>
    </dd>
  <% end %>




  <dt>Status</dt>
  <dd><%= preceptor.status %></dd>

  <dt>Degree</dt>
  <dd><%= preceptor.degree %></dd>

  <dt>Hospital affiliation</dt>
  <dd><%= preceptor.hospital_affiliation %></dd>

  <dt>Hospital appointment</dt>
  <dd><%= preceptor.hospital_appointment %></dd>

  <dt>Other support</dt>
  <dd>
    <% if preceptor.other_support.size > 0 %>
      <% full_url = "#{request.script_name}#{preceptor.other_support.url}" %>
      <%= link_to preceptor.other_support_url.split('/').last, full_url, target: '_blank', class: 'btn btn-mini' %>
      <%= number_to_human_size(preceptor.other_support.size) %>
    <% end %>
  </dd>

  <dt>Rank</dt>
  <dd><%= preceptor.rank %></dd>

  <dt>Research interest</dt>
  <dd><%= preceptor.research_interest %></dd>

  <dt>Program role</dt>
  <dd><%= preceptor.program_role %></dd>
</dl>
