- if preceptor.unconfirmed_email.blank?
  = render "forms/horizontal/show/text", object: preceptor, key: :email
- else
  = render "forms/horizontal/show/text", object: preceptor, key: :email, key_name: "Current Email"
  = render "forms/horizontal/show/generic", title: "Unconfirmed Email", content: render("preceptors/unconfirmed_email", preceptor: preceptor)

= render "forms/horizontal/show/text", object: preceptor, key: :status
= render "forms/horizontal/show/text", object: preceptor, key: :degree
= render "forms/horizontal/show/text", object: preceptor, key: :hospital_affiliation
= render "forms/horizontal/show/text", object: preceptor, key: :hospital_appointment

= render "forms/horizontal/show/generic", title: "NIH Biosketch", content: render("preceptors/biosketch", preceptor: preceptor)
= render "forms/horizontal/show/generic", title: "Curriculum Vitae", content: render("preceptors/curriculum_vitae", preceptor: preceptor)
= render "forms/horizontal/show/generic", title: "Other support", content: render("preceptors/other_support", preceptor: preceptor)


= render "forms/horizontal/show/text", object: preceptor, key: :rank
= render "forms/horizontal/show/text", object: preceptor, key: :research_interest
= render "forms/horizontal/show/text", object: preceptor, key: :program_role

= render "forms/horizontal/show/markdown", object: preceptor, key: :publications
= render "forms/horizontal/show/markdown", object: preceptor, key: :grants
