%table.table.table-striped.table-borderless.table-hover.table-sticky.table-sm
  %thead
    %tr
      %th Status
      %th Name
      %th Type
      %th Training Period Start Date
      %th Training Period End Date
      %th Degrees
      %th Research Project Title
      %th Current Position
      %th Source of Support
  %tbody
    - Applicant.current.where("primary_preceptor_id = ? or secondary_preceptor_id = ?", preceptor.id, preceptor.id ).order(training_period_end_date: :desc).each do |applicant|
      %tr
        %td= applicant.status
        %td= link_to applicant.reverse_name, applicant
        %td= applicant.applicant_type
        %td= applicant.training_period_start_date
        %td= applicant.training_period_end_date
        %td
          - if applicant.degrees.present?
            %ul
              - applicant.degrees.each do |degree|
                %li= render "degrees/show", degree: degree
        %td= applicant.research_project_title
        %td= applicant.current_position
        %td
          - if applicant.annuals.present?
            %ul
              - applicant.annuals.each do |annual|
                %li
                  = link_to annual.year, annual
                  = annual.source_of_support
