<div class="page-header">
  <h2>Contact Information</h2>
</div>

<div class="control-group">
  <%= label :applicant, :phone, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= text_field :applicant, :phone %>
  </div>
</div>

<div class="control-group">
  <%= label :applicant, :address1, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= text_field :applicant, :address1 %>
  </div>
</div>
<div class="control-group">
  <%= label :applicant, :address2, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= text_field :applicant, :address2 %>
  </div>
</div>
<div class="control-group">
  <%= label :applicant, :city, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= text_field :applicant, :city %>
  </div>
</div>
<div class="control-group">
  <%= label :applicant, :state, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= text_field :applicant, :state %>
  </div>
</div>
<div class="control-group">
  <%= label :applicant, :country, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= text_field :applicant, :country %>
  </div>
</div>
<div class="control-group">
  <%= label :applicant, :zip_code, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= text_field :applicant, :zip_code %>
  </div>
</div>
