.page-header
  %h2 Contact Information

.form-group
  = label :applicant, :phone, nil, class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :phone, class: 'form-control'

.form-group
  = label :applicant, :address1, nil, class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :address1, class: 'form-control'

.form-group
  = label :applicant, :address2, nil, class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :address2, class: 'form-control'

.form-group
  = label :applicant, :city, nil, class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :city, class: 'form-control'

.form-group
  = label :applicant, :state, nil, class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :state, class: 'form-control'

.form-group
  = label :applicant, :country, nil, class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :country, class: 'form-control'

.form-group
  = label :applicant, :zip_code, nil, class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :zip_code, class: 'form-control'
