<div class="page-header">
  <h2>Education / Experience</h2>
</div>

<div class="form-group">
  <%= label :applicant, :curriculum_vitae, 'Upload Curriculum Vitae (PDF, Word)', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= file_field :applicant, :curriculum_vitae, class: 'form-control' %>
    <%= hidden_field :applicant, :curriculum_vitae_cache %>
    <span class="help-inline"><%= @applicant.curriculum_vitae_url.split('/').last if not @applicant.curriculum_vitae_url.blank? and @applicant.curriculum_vitae_cache.blank? %></span>
  </div>
</div>

<div class="form-group">
  <%= label :applicant, :current_institution, nil, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= text_field :applicant, :current_institution, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= label :applicant, :department_program, 'Department / Program', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= text_field :applicant, :department_program, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= label :applicant, :current_position, nil, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= text_field :applicant, :current_position, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= label :applicant, :degrees_earned, nil, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div id="degrees_container">
      <%= hidden_field_tag :set_degrees_earned, '1' %>
      <% if @applicant.degrees_earned.size == 0 %>
        <%= render partial: 'applicants/form/degrees', locals: { degree_earned: {} } %>
      <% end %>
      <% @applicant.degrees_earned.each do |degree_earned| %>
        <%= render partial: 'applicants/form/degrees', locals: { degree_earned: degree_earned } %>
      <% end %>
    </div>

    <%= link_to 'add more', add_degree_applicants_path, method: :post, remote: true, class: 'btn btn-xs btn-default' %>
  </div>
</div>
