.page-header
  %h2 Education / Experience

.form-group
  = label :applicant, :curriculum_vitae, 'Upload Curriculum Vitae (PDF, Word)', class: 'col-md-2 control-label'
  .col-md-10
    = file_field :applicant, :curriculum_vitae, class: 'form-control'
    = hidden_field :applicant, :curriculum_vitae_cache
    %span.help-inline= @applicant.curriculum_vitae_url.split('/').last if @applicant.curriculum_vitae_url.present? && @applicant.curriculum_vitae_cache.blank?

.form-group
  = label :applicant, :current_institution, nil, class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :current_institution, class: 'form-control'

.form-group
  = label :applicant, :department_program, 'Department / Program', class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :department_program, class: 'form-control'

.form-group
  = label :applicant, :current_position, nil, class: 'col-md-2 control-label'
  .col-md-10
    = text_field :applicant, :current_position, class: 'form-control'

.form-group
  = label :applicant, :degrees, nil, class: 'col-md-2 control-label'
  .col-md-10
    #degrees_container
      = hidden_field_tag :set_degree_hashes, '1'
      - if @applicant.degrees_or_params(params).size == 0
        - degree = @applicant.degrees.new
        = render 'degrees/form', degree: degree
      - else
        - @applicant.degrees_or_params(params).each do |degree|
          = render 'degrees/form', degree: degree

    = link_to 'add more', add_degree_applicants_path, method: :post, remote: true, class: 'btn btn-xs btn-default'
