.page-header
  %h1
    = link_to 'Hospitals', hospitals_path
    &middot;
    = @title

= form_for @hospital, html: { class: 'form-horizontal' } do |f|
  - if @hospital.errors.any?
    .callout.callout-danger
      %h4
        = pluralize @hospital.errors.count, 'error'
        prohibited this hospital from being saved

      %ul
        - @hospital.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @hospital.new_record? ? hospitals_path : @hospital, class: 'btn btn-default'
