<div class="page-header">
  <h1><%= link_to "Hospitals", hospitals_path %> &middot; <%= @title %></h1>
</div>

<%= form_for @hospital, html: { class: 'form-horizontal' } do |f| %>
  <% if @hospital.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@hospital.errors.count, "error") %> prohibited this hospital from being saved</h4>

      <ul>
      <% @hospital.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
