.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col
    %col{ width: "1px" }
    %thead
      %tr
        = th_sort_field @order, "hospitals.name", "Name", extra_class: "nowrap"
        %th.text-center Actions

    - @hospitals.each do |hospital|
      %tr
        %td= link_to hospital.name, hospital
        %td.text-center
          = render "layouts/edit_delete_dropdown", edit_url: edit_hospital_path(hospital), delete_url: hospital, delete_confirmation: "Delete #{hospital.name}?"

  .center-horizontally= paginate @hospitals, theme: "bootstrap"
