- @title = "#{@hospital.name} - Hospitals"
- @menu_title = @hospital.name

- content_for :header, @menu_title

- content_for :breadcrumbs do
  %ol
    %li= link_to "hospitals", hospitals_path
    %li.breadcrumb-muted= @hospital.name.downcase

.dashboard-container
  = link_to "Edit Hospital", edit_hospital_path(@hospital), class: "btn btn-sm btn-light"
  = link_to "Delete Hospital", @hospital, method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Delete #{@hospital.name}?" }

.dashboard-container
  = render "forms/horizontal/show/text", object: @hospital, key: :name
