<%= render partial: 'contour/layouts/per_page', locals: { type: 'annuals', per_page: 20, object_count: @annuals.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.applicant_id', 'Applicant', 'annuals_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.year', 'Year', 'annuals_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.coursework_completed', 'Coursework Completed', 'annuals_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.publications', 'Publications', 'annuals_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.presentations', 'Presentations', 'annuals_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.research_description', 'Research Description', 'annuals_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.source_of_support', 'Source Of Support', 'annuals_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.nih_other_support', 'NIH Other Support', 'annuals_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.submitted_at', 'Submitted At', 'annuals_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'annuals.modified_at', 'Modified At', 'annuals_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @annuals.each do |annual| %>
    <tr>
      <td><%= link_to annual.applicant.name, annual.applicant if annual.applicant %></td>
      <td><%= link_to annual.year, annual %></td>
      <td><%= truncate annual.coursework_completed %></td>
      <td><%= truncate annual.publications %></td>
      <td><%= truncate annual.presentations %></td>
      <td><%= truncate annual.research_description %></td>
      <td><%= annual.source_of_support %></td>
      <td>
        <% unless annual.nih_other_support_url.blank? %>
          <% full_url = "#{request.script_name}#{annual.nih_other_support.url}" %>
          <%= link_to annual.nih_other_support_url.split('/').last, full_url, target: '_blank', class: 'btn btn-xs' %>
          <%= number_to_human_size(annual.nih_other_support.size) %>
        <% end %>
      </td>
      <td><%= simple_time annual.submitted_at %></td>
      <td><%= simple_time annual.modified_at %></td>
      <td>
        <%= link_to 'Edit', edit_annual_path(annual), class: 'btn btn-xs' %>
        <%= link_to 'Delete', annual, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Annual #{annual.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @annuals, theme: "contour" %></center>
