%table.table.table-striped.table-borderless.table-hover.table-sticky.table-sm
  %thead
    %tr
      = th_sort_field @order, "annuals.applicant_id", "Applicant"
      = th_sort_field @order, "annuals.year", "Year"
      = th_sort_field @order, "annuals.coursework_completed", "Coursework Completed"
      = th_sort_field @order, "annuals.publications", "Publications"
      = th_sort_field @order, "annuals.presentations", "Presentations"
      = th_sort_field @order, "annuals.research_description", "Research Description"
      = th_sort_field @order, "annuals.source_of_support", "Source Of Support"
      = th_sort_field @order, "annuals.nih_other_support", "NIH Other Support"
      = th_sort_field @order, "annuals.submitted_at", "Submitted"
      = th_sort_field @order, "annuals.modified_at", "Modified"
      %th Actions

  - @annuals.each do |annual|
    %tr
      %td= link_to annual.applicant.name, annual.applicant if annual.applicant
      %td= link_to annual.year, annual
      %td= truncate annual.coursework_completed
      %td= truncate annual.publications
      %td= truncate annual.presentations
      %td= truncate annual.research_description
      %td= annual.source_of_support
      %td
        - unless annual.nih_other_support_url.blank?
          - full_url = "#{request.script_name}#{annual.nih_other_support.url}"
          = link_to annual.nih_other_support_url.split("/").last, full_url, target: "_blank", class: "btn btn-sm btn-light"
          = number_to_human_size(annual.nih_other_support.size)
      %td= simple_time annual.submitted_at
      %td= simple_time annual.modified_at
      %td.text-center
        = render "layouts/edit_delete_dropdown", edit_url: edit_annual_path(annual), delete_url: annual, delete_confirmation: "Delete #{annual.name}?"

.center-horizontally= paginate @annuals, theme: "bootstrap"
