= form_with model: annual, local: true do |form|
  = form.hidden_field :publish, value: 0
  = render "forms/horizontal/select", form: form, object: annual, key: :applicant_id, options: Applicant.current.order("last_name, first_name").collect { |a| [a.name, a.id] }, include_blank: "---", id: true
  .form-group.row
    = form.label :year, nil, class: "col-md-2 col-form-label"
    .col-md-10
      = form.number_field :year, class: "form-control"
  = render "inner_form", form: form, annual: annual
  = render "forms/horizontal/submit", form: form, object: annual
