<div class="page-header"><h2>Annual Information</h2></div>

<% applicant.annuals.in_groups_of(2).each do |row_annuals| %>
  <div class="row">
    <% row_annuals.each do |annual| %>
      <% if annual %>
        <div class="col-md-6">
          <div class="page-header">
            <h3>
              Year <%= annual.year %>
              <%= link_to 'Edit', current_user ? edit_annual_path(annual) : edit_me_annual_path(annual), class: "btn btn-xs #{annual.submitted? ? 'btn-default' : 'btn-primary'}" %>
            </h3>
          </div>

          <dl class="dl-horizontal">

            <dt>Coursework Completed</dt>
            <dd style="min-height:60px"><%= simple_format annual.coursework_completed %></dd>

            <dt>Publications</dt>
            <dd><%= simple_format annual.publications %></dd>

            <dt>Conferences, Presentations, Honors, and Fellowships</dt>
            <dd style="min-height:90px"><%= simple_format annual.presentations %></dd>

            <dt>Research Description</dt>
            <dd style="min-height:60px"><%= simple_format annual.research_description %></dd>

            <dt>Degree or Certifications earned (Year) or Other Relevant Outcome</dt>
            <dd style="min-height:60px"><%= simple_format annual.degree_or_certifications_earned %></dd>

            <dt>Source of Support</dt>
            <dd style="min-height:60px"><%= annual.source_of_support %></dd>

            <dt>NIH Other Support</dt>
            <dd>
              <% unless annual.nih_other_support_url.blank? %>
                <% full_url = "#{request.script_name}#{annual.nih_other_support.url}" %>
                <%= link_to annual.nih_other_support_url.split('/').last, full_url, target: '_blank', class: 'btn btn-xs btn-default' %>
                <%= number_to_human_size(annual.nih_other_support.size) %>
              <% end %>
            </dd>
          </dl>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
