.brand-title Annual Information

- applicant.annuals.each do |annual|
  .brand-subtitle
    Year
    = annual.year
    = link_to current_user ? edit_annual_path(annual) : edit_me_annual_path(annual), class: "ml-2" do
      = icon("fas", "edit")
      Edit

  - if current_user&.administrator?
    = render "forms/horizontal/show/generic", title: "Annual #{annual.year} Login", content: "<code class=\"text-primary\">#{ENV["website_url"]}/annuals/#{annual.id}/edit_me?auth_token=#{annual.applicant.id_and_auth_token}</code>".html_safe

  = render "forms/horizontal/show/markdown", object: annual, key: :coursework_completed
  = render "forms/horizontal/show/markdown", object: annual, key: :publications

  = render "forms/horizontal/show/markdown", object: annual, key: :presentations, key_name: "Conferences, Presentations, Honors, and Fellowships"

  = render "forms/horizontal/show/markdown", object: annual, key: :research_description

  = render "forms/horizontal/show/markdown", object: annual, key: :degree_or_certifications_earned, key_name: "Degree or Certifications earned (Year) or Other Relevant Outcome"

  = render "forms/horizontal/show/text", object: annual, key: :source_of_support

  = render "forms/horizontal/show/generic", title: "NIH Other Support", content: render("annuals/nih_other_support", annual: annual)
