<div class="page-header"><h2>Annual Information</h2></div>

<% applicant.annuals.in_groups_of(2).each do |row_annuals| %>
  <div class="row">
    <% row_annuals.each do |annual| %>
      <% if annual %>
        <div class="span6">
          <div class="page-header">
            <h3>
              Year <%= annual.year %>
              <%= link_to 'Edit', current_user ? edit_annual_path(annual) : edit_me_annual_path(annual), class: "btn btn-mini #{"btn-primary" unless annual.submitted?}" %>
            </h3>
          </div>

          <dl class="dl-horizontal">

            <dt>Coursework Completed</dt>
            <dd style="min-height:60px"><%= annual.coursework_completed %></dd>

            <dt>Publications</dt>
            <dd><%= annual.publications %></dd>

            <dt>Conferences, Presentations, Honors, and Fellowships</dt>
            <dd style="min-height:90px"><%= annual.presentations %></dd>

            <dt>Research description</dt>
            <dd style="min-height:60px"><%= annual.research_description %></dd>

            <dt>Source of support</dt>
            <dd style="min-height:60px"><%= annual.source_of_support %></dd>

            <dt>NIH Other Support</dt>
            <dd>
              <% unless annual.nih_other_support_url.blank? %>
                <%= link_to annual.nih_other_support_url.split('/').last, annual.nih_other_support_url, target: '_blank', class: 'btn btn-mini' %>
                <%= number_to_human_size(annual.nih_other_support.size) %>
                <% if false %><span class="muted">uploaded <%= simple_time(annual.nih_other_support_uploaded_at) %></span><% end %>
              <% end %>
            </dd>
          </dl>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
