= render "forms/horizontal/text_area", form: form, object: annual, key: :coursework_completed, rows: 7
= render "forms/horizontal/text_area", form: form, object: annual, key: :publications, rows: 7, help_text: "NIH-funded publications after April, 2008 must comply with the #{link_to "NIH Public Access policy", "https://www.countway.harvard.edu/menuNavigation/libraryServices/nihPublicAccess.html", target: "_blank"} by listing a PMCID.".html_safe
= render "forms/horizontal/text_area", form: form, object: annual, key: :presentations, key_name: "Conferences, Presentations, Honors, and Fellowships", rows: 7
= render "forms/horizontal/text_area", form: form, object: annual, key: :research_description, rows: 7
= render "forms/horizontal/text_area", form: form, object: annual, key: :degree_or_certifications_earned, key_name: "Degree or Certifications earned (Year) or Other Relevant Outcome", rows: 7, help_text: "Example: Certificate of Clinical Investigation (2013), Board Certification in Sleep Medicine (2013)"
= render "forms/horizontal/text_field", form: form, object: annual, key: :source_of_support, help_text: "Example: NIH, NHLBI, Private Funding, None<br />Upload full NIH Grant information in your NIH Other Support Document.".html_safe
= render "forms/horizontal/file_field", form: form, object: annual, key: :nih_other_support, key_name: "NIH Other Support", help_text: "You can download an example #{link_to "othersupport.pdf", "http://grants.nih.gov/grants/funding/phs398/othersupport.pdf", target: "_blank"} as a template.".html_safe
