<div class="control-group">
  <%= f.label :coursework_completed, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_area :coursework_completed, rows: 7, style: 'width:95%' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :publications, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_area :publications, rows: 7, style: 'width:95%' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :presentations, "Conferences, Presentations, Honors, and Fellowships", class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_area :presentations, rows: 7, style: 'width:95%' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :research_description, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_area :research_description, rows: 7, style: 'width:95%' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :source_of_support, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_field :source_of_support %>
  </div>
</div>

<div class="control-group">
  <%= f.label :nih_other_support, 'NIH Other Support', class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.file_field :nih_other_support %>
    <%= f.hidden_field :nih_other_support_cache %>
    <span class="help-inline">Example: <%= link_to 'http://grants.nih.gov/grants/funding/phs398/othersupport.pdf', 'http://grants.nih.gov/grants/funding/phs398/othersupport.pdf', target: '_blank' %></span>
  </div>
</div>
