- @title = "#{@annual.applicant.name}, Year #{@annual.name} - Annuals"
- @menu_title = "#{@annual.applicant.name}, Year #{@annual.name}"

- content_for :header, @menu_title

- content_for :breadcrumbs do
  %ol
    %li= link_to "annuals", annuals_path
    %li= link_to @annual.applicant.name.downcase, @annual.applicant
    %li.breadcrumb-muted= "year #{@annual.name.downcase}"

.dashboard-container
  = link_to 'Edit Annual', edit_annual_path(@annual), class: 'btn btn-sm btn-light'
  = link_to 'Delete Annual', @annual, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: "Delete Annual Year #{@annual.name}?" }

.dashboard-container
  = render "forms/horizontal/show/generic", title: "Applicant", content: link_to(@annual.applicant.name, @annual.applicant)
  = render "forms/horizontal/show/text", object: @annual, key: :year
  = render "forms/horizontal/show/markdown", object: @annual, key: :coursework_completed
  = render "forms/horizontal/show/markdown", object: @annual, key: :publications

  = render "forms/horizontal/show/markdown", object: @annual, key: :presentations, key_name: "Conferences, Presentations, Honors, and Fellowships"

  = render "forms/horizontal/show/markdown", object: @annual, key: :research_description

  = render "forms/horizontal/show/markdown", object: @annual, key: :degree_or_certifications_earned, key_name: "Degree or Certifications earned (Year) or Other Relevant Outcome"

  = render "forms/horizontal/show/text", object: @annual, key: :source_of_support

  = render "forms/horizontal/show/generic", title: "NIH Other Support", content: render("annuals/nih_other_support", annual: @annual)

  = render "forms/horizontal/show/text", object: @annual, key: :submitted_at
  = render "forms/horizontal/show/text", object: @annual, key: :modified_at
