<% @title = @annual.name %>
<div class="page-header">
  <h1>
    <%= link_to "Annuals", annuals_path %> &middot; <%= @title %>
    <%= link_to "Edit Annual", edit_annual_path(@annual), class: 'btn btn-mini' %>
    <%= link_to "Delete Annual", @annual, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Annual #{@annual.name}?" } %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= link_to @annual.user.name, @annual.user if @annual.user %></dd>

  <dt>Applicant</dt>
  <dd><%= link_to @annual.applicant.name, @annual.applicant if @annual.applicant %></dd>

  <dt>Year</dt>
  <dd><%= @annual.year %></dd>

  <dt>Coursework Completed</dt>
  <dd><%= simple_format @annual.coursework_completed %></dd>

  <dt>Publications</dt>
  <dd><%= simple_format @annual.publications %></dd>

  <dt>Presentations</dt>
  <dd><%= simple_format @annual.presentations %></dd>

  <dt>Research Description</dt>
  <dd><%= simple_format @annual.research_description %></dd>

  <dt>Source Of Support</dt>
  <dd><%= @annual.source_of_support %></dd>

  <dt>Nih Other Support</dt>
  <dd>
    <% unless @annual.nih_other_support_url.blank? %>
      <% full_url = "#{request.script_name}#{@annual.nih_other_support.url}" %>
      <%= link_to @annual.nih_other_support_url.split('/').last, full_url, target: '_blank', class: 'btn btn-mini' %>
      <%= number_to_human_size(@annual.nih_other_support.size) %>
    <% end %>
  </dd>

  <dt>Submitted At</dt>
  <dd><%= @annual.submitted_at %></dd>

  <dt>Modified At</dt>
  <dd><%= @annual.modified_at %></dd>

  <dt>Deleted</dt>
  <dd><%= @annual.deleted %></dd>

</dl>
