.page-header
  %h1
    = link_to 'Seminars', seminars_path
    &middot;
    = @title

= form_for @seminar, html: { class: 'form-horizontal' } do |f|
  - if @seminar.errors.any?
    .callout.callout-danger
      %h4
        = pluralize @seminar.errors.count, 'error'
        prohibited this seminar from being saved

      %ul
        - @seminar.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :category, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :category, autocomplete: "off", data: { object: 'typeahead', local: Seminar.current.pluck(:category).uniq.to_json }, class: 'form-control'

  .form-group
    = f.label :presenter, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :presenter, class: 'form-control'

  .form-group
    = f.label :presentation_title, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :presentation_title, class: 'form-control'

  .form-group
    = f.label :presentation_date, nil, class: 'col-md-2 control-label'
    .col-md-10
      .input-group
        = f.text_field :presentation_date, class: 'datepicker form-control', value: @seminar.presentation_date ? @seminar.presentation_date.strftime('%m/%d/%Y') : ''
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar

  .form-group
    = f.label :presentation_time, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :presentation_time, value: @seminar.presentation_date ? @seminar.presentation_date.strftime('%l:%M %p').strip : '', class: 'form-control'

  .form-group
    = f.label :duration, nil, class: 'col-md-2 control-label'
    .col-md-10
      .row
        .col-xs-6
          = f.number_field :duration, class: 'form-control'
        .col-xs-6
          = f.select :duration_units, Seminar::DURATION_UNITS, {}, class: 'form-control'

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = cancel
