= form_with model: seminar, local: true do |form|
  .form-group.row
    = form.label :category, nil, class: "col-md-2 col-form-label"
    .col-md-10
      = form.text_field :category, autocomplete: "off", data: { object: "typeahead", local: Seminar.current.pluck(:category).uniq.to_json }, class: "form-control#{" is-invalid" if seminar.errors[:category].present?}"
      = render "forms/invalid_feedback", object: seminar, key: :category

  = render "forms/horizontal/text_field", form: form, object: seminar, key: :presenter
  = render "forms/horizontal/text_field", form: form, object: seminar, key: :presentation_title
  = render "forms/horizontal/date_field", form: form, object: seminar, key: :presentation_date
  = render "forms/horizontal/text_field", form: form, object: seminar, key: :presentation_time, value: seminar.presentation_date&.strftime("%l:%M %p")&.strip

  .form-group.row
    = form.label :duration, nil, class: "col-md-2 col-form-label"
    .col-md-10
      .row
        .col-6
          = form.number_field :duration, class: "form-control"
        .col-6
          = form.select :duration_units, Seminar::DURATION_UNITS, {}, class: "form-control"

  = render "forms/horizontal/submit", form: form, object: seminar
