<div class="page-header">
  <h1><%= link_to "Seminars", seminars_path %> &middot; <%= @title %></h1>
</div>

<%= form_for @seminar, html: { class: 'form-horizontal' } do |f| %>
  <% if @seminar.errors.any? %>
    <div id="error_explanation" class="callout callout-danger">
      <h4><%= pluralize(@seminar.errors.count, "error") %> prohibited this seminar from being saved</h4>

      <ul>
      <% @seminar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :category, autocomplete: "off", data: { object: 'typeahead', local: Seminar.current.pluck(:category).uniq.to_json }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :presenter, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :presenter, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :presentation_title, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :presentation_title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :presentation_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <div class="input-group">
        <%= f.text_field :presentation_date, class: 'datepicker form-control', value: @seminar.presentation_date ? @seminar.presentation_date.strftime('%m/%d/%Y') : '' %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :presentation_time, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :presentation_time, value: @seminar.presentation_date ? @seminar.presentation_date.strftime("%l:%M %p").strip : '', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :duration, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <div class="row">
        <div class="col-xs-6">
          <%= f.number_field :duration, class: 'form-control' %>
        </div>
        <div class="col-xs-6">
          <%= f.select :duration_units, Seminar::DURATION_UNITS, {}, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
