.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky.table-sm
    %thead
      %tr
        = th_sort_field @order, "seminars.presenter", "Presenter"
        = th_sort_field @order, "seminars.presentation_title", "Presentation Title", extra_class: "nowrap"
        = th_sort_field @order, "seminars.presentation_date", "Presentation Date", extra_class: "nowrap"
        = th_sort_field @order, "seminars.category", "Category"
        %th.text-center Actions

    - @seminars.each do |seminar|
      %tr
        %td= link_to seminar.presenter, seminar
        %td= seminar.presentation_title
        %td= seminar.presentation_date_with_time
        %td= seminar.category
        %td.text-center
          = render "layouts/edit_delete_dropdown", edit_url: edit_seminar_path(seminar), delete_url: seminar, delete_confirmation: "Delete #{seminar.name}?"

.center-horizontally= paginate @seminars, theme: "bootstrap"
