<% @title = 'Attendance Tracking' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Seminar", new_seminar_path, class: 'btn btn-xs btn-primary' %>
    <%= link_to "View All", seminars_path, class: 'btn btn-xs btn-default' %>
  </h1>
</div>


<%= form_tag attendance_seminars_path, method: :get, id: 'attendance_form', class: 'form-inline' do %>
  <%= hidden_field_tag :status, params[:status] %>
  <%= select_tag :year, options_for_select(Seminar.current.pluck(:presentation_date).collect{|i|i ? (i.month > 6 ? i.year + 1 : i.year) : nil}.uniq.compact.sort.collect{|i| ["July #{i-1} to June #{i}",i]}, @year) %>
  <%= select_tag :status, options_for_select([['All Trainees', nil]] + Applicant::STATUS, params[:status]) %>
  <%= submit_tag 'Filter', class: 'btn btn-primary' %>
  <%= link_to 'Export CSV', '#', data: { object: 'export', target: '#attendance_form', format: 'csv' }, class: 'btn' %>
<% end %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th></th>
      <% @seminars.group_by{|s| s.category}.each do |category, seminars| %>
        <th colspan="<%= seminars.size + 1 %>" style="border-left: 1px solid gray">
          <%= category %>
        </th>
      <% end %>
    </tr>
    <tr>
      <th>
        Trainees <%= "(#{params[:status]})" unless params[:status].blank? %>
      </th>
      <% @seminars.group_by{|s| s.category}.each do |category, seminars| %>
        <th style="border-left: 1px solid gray"></th>
        <% seminars.sort_by{ |s| s.presentation_date }.each do |seminar| %>
          <th style="white-space:nowrap">
            <span rel="tooltip" title="<%= [(seminar.presentation_date ? seminar.presentation_date.strftime("%Y-%m-%d") : ''), seminar.presentation_title, seminar.presenter].select{|i| not i.blank?}.join(' - ') %>">
              <%= link_to seminar.presentation_date.strftime("%-m/%-d"), seminar if seminar.presentation_date %>
            </span>
          </th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th style="font:inherit">
        Total
      </th>
      <% @seminars.group_by{|s| s.category}.each do |category, seminars| %>
        <th style="border-left: 1px solid gray"></th>
        <% seminars.sort_by{ |s| s.presentation_date }.each do |seminar| %>
          <th style="white-space:nowrap">
            <%= seminar.applicants.where(id: @applicants.pluck(:id)).count %>
          </th>
        <% end %>
      <% end %>
    </tr>
  </tfoot>
  <tbody>
    <% @applicants.order('last_name, first_name').each do |applicant| %>
      <tr>
        <td><%= link_to applicant.reverse_name, applicant %></td>
        <% @seminars.group_by{|s| s.category}.each do |category, seminars| %>
          <% percent = (applicant.seminars.pluck(:id) & seminars.collect{|s| s.id}).size * 100 / seminars.size %>
          <td style="border-left: 1px solid gray" class="<%= percent < 50 ? 'error' : (percent < 70 ? 'warning' : '') %>"><%= percent %>%</td>
          <% seminars.sort_by{ |s| s.presentation_date }.each do |seminar| %>
            <td id="applicant_<%= applicant.id %>_seminar_<%= seminar.id %>_attendance">
              <%= render partial: 'attendance', locals: { applicant: applicant, seminar: seminar } %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>
