<% @title = @seminar.name %>
<div class="page-header">
  <h1>
    <%= link_to "Seminars", seminars_path %> &middot; <%= @title %>
  </h1>
  <%= link_to "Edit Seminar", edit_seminar_path(@seminar), class: 'btn btn-xs btn-default' %>
  <%= link_to "Delete Seminar", @seminar, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Seminar #{@seminar.name}?" } %>
</div>

<dl class="dl-horizontal">
  <dt>Category</dt>
  <dd><%= @seminar.category %></dd>

  <dt>Presenter</dt>
  <dd><%= @seminar.presenter %></dd>

  <dt>Presentation Title</dt>
  <dd><%= @seminar.presentation_title %></dd>

  <dt>Presentation Date</dt>
  <dd><%= @seminar.presentation_date_with_time %></dd>

</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap">Trainee</th>
      <th style="white-space:nowrap">Attended?</th>
    </tr>
  </thead>

  <% Applicant.current_trainee.order('last_name, first_name').each do |applicant| %> <%# status: 'current' ? %>
    <tr>
      <td><%= link_to applicant.reverse_name, applicant %></td>
      <td id="applicant_<%= applicant.id %>_seminar_<%= @seminar.id %>_attendance">
        <%= render partial: 'attendance', locals: { applicant: applicant, seminar: @seminar } %>
      </td>
    </tr>
  <% end %>
</table>
