- @title = "#{@seminar.name} - Seminars"
- @menu_title = @seminar.name

- content_for :header, @menu_title

- content_for :breadcrumbs do
  %ol
    %li= link_to "seminars", seminars_path
    %li.breadcrumb-muted= @seminar.name.downcase

.dashboard-container
  = link_to "Edit Seminar", edit_seminar_path(@seminar), class: "btn btn-sm btn-light"
  = link_to "Delete Seminar", @seminar, method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Are you sure you want to delete Seminar #{@seminar.name}?" }


.dashboard-container
  = render "forms/horizontal/show/text", object: @seminar, key: :category
  = render "forms/horizontal/show/text", object: @seminar, key: :presenter
  = render "forms/horizontal/show/text", object: @seminar, key: :presentation_title
  = render "forms/horizontal/show/generic", title: "Presentation date", content: @seminar.presentation_date_with_time


.brand-title Attendance
.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %thead
      %tr
        %th Trainee
        %th Attended?

    - Applicant.current_trainee.order("last_name, first_name").each do |applicant|
      %tr
        %td= link_to applicant.reverse_name, applicant
        %td{ id: "applicant_#{applicant.id}_seminar_#{@seminar.id}_attendance" }
          = render "attendance", applicant: applicant, seminar: @seminar
