<div class="form-group">
  <%= f.label :first_name, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_name, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.email_field :email, class: 'form-control' %>
  </div>
</div>

<% if user_signed_in? and current_user.administrator? %>
  <div class="form-group">
    <%= f.label :status, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :status, Preceptor::STATUS, {}, class: 'form-control' %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :degree, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :degree, class: 'form-control' %>
    <div class="bs-callout bs-callout-info">
      <h4>Example</h4>
      <code>M.D.</code> <code>Ph.D.</code>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :hospital_affiliation, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :hospital_affiliation, autocomplete: 'off', data: { object: 'typeahead', local: Hospital.current.order('name').pluck(:name).uniq.to_json }, class: 'form-control' %>

    <% if user_signed_in? and current_user.administrator? %>
      <div class="bs-callout bs-callout-info">
        <h4>Manage Hospital List</h4>
        You can edit the <%= link_to 'list of hospitals', hospitals_path, class: 'btn btn-xs btn-default' %>.
      </div>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :hospital_appointment, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :hospital_appointment, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :biosketch, 'NIH Biosketch (PDF, Word)', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.file_field :biosketch, class: 'form-control' %>
    <%= f.hidden_field :biosketch_cache %>
  </div>
</div>

<div class="form-group">
  <%= f.label :curriculum_vitae, 'Curriculum Vitae (PDF, Word)', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.file_field :curriculum_vitae, class: 'form-control' %>
    <%= f.hidden_field :curriculum_vitae_cache %>
  </div>
</div>

<div class="form-group">
  <%= f.label :other_support, 'Other support (PDF, Word)', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.file_field :other_support, class: 'form-control' %>
    <%= f.hidden_field :other_support_cache %>
    <div class="bs-callout bs-callout-info">
      <h4>Example Document</h4>
      You can download an example <%= link_to 'Other-Support.doc', "#{root_path}Other-Support.doc", class: 'btn btn-xs btn-default', target: '_blank' %> as a template.
    </div>
  </div>
</div>

<% if user_signed_in? and current_user.administrator? %>
  <div class="form-group">
    <%= f.label :rank, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :rank, options_for_select([['---', nil]] + Preceptor::RANK), {}, class: 'form-control' %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :research_interest, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_area :research_interest, rows: 7, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :program_role, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :program_role, class: 'form-control' %>
  </div>
</div>
