<div class="control-group">
  <%= f.label :first_name, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :first_name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :last_name, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :last_name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, class: 'control-label' %>
  <div class="controls">
    <%= f.email_field :email %>
  </div>
</div>

<% if user_signed_in? and current_user.administrator? %>
  <div class="control-group">
    <%= f.label :status, class: 'control-label' %>
    <div class="controls">
      <%= f.select :status, Preceptor::STATUS %>
    </div>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :degree, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :degree %>
  </div>
</div>

<div class="control-group">
  <%= f.label :hospital_affiliation, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :hospital_affiliation %>
  </div>
</div>

<div class="control-group">
  <%= f.label :hospital_appointment, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :hospital_appointment %>
  </div>
</div>

<div class="control-group">
  <%= f.label :other_support, 'Other support (PDF, Word)', class: 'control-label' %>
  <div class="controls">
    <%= f.file_field :other_support %>
  </div>
</div>

<div class="control-group">
  <%= f.label :rank, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :rank %>
  </div>
</div>

<div class="control-group">
  <%= f.label :research_interest, class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :research_interest, rows: 7, style: "width:95%" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :program_role, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :program_role %>
  </div>
</div>
