= render "forms/horizontal/text_field", form: form, object: preceptor, key: :first_name
= render "forms/horizontal/text_field", form: form, object: preceptor, key: :last_name
= render "forms/horizontal/email_field", form: form, object: preceptor, key: :email
- if user_signed_in? && current_user.administrator?
  = render "forms/horizontal/select", form: form, object: preceptor, key: :status, options: Preceptor::STATUS, id: true
= render "forms/horizontal/text_field", form: form, object: preceptor, key: :degree, help_text: "Example: M.D., Ph.D."

.form-group.row
  = form.label :hospital_affiliation, class: "col-md-2 col-form-label"
  .col-md-10
    = form.text_field :hospital_affiliation, autocomplete: "off", data: { object: "typeahead", local: Hospital.current.order(:name).pluck(:name).uniq.to_json }, class: "form-control"
    - if user_signed_in? && current_user.administrator?
      = render "forms/help_text", help_text: "You can edit the #{link_to "list of hospitals", hospitals_path}.".html_safe

= render "forms/horizontal/text_field", form: form, object: preceptor, key: :hospital_appointment
= render "forms/horizontal/file_field", form: form, object: preceptor, key: :biosketch, key_name: "NIH Biosketch", help_text: "PDF, Word"
= render "forms/horizontal/file_field", form: form, object: preceptor, key: :curriculum_vitae, help_text: "PDF, Word"
= render "forms/horizontal/file_field", form: form, object: preceptor, key: :other_support, help_text: "PDF, Word. You can download an example #{link_to "Other-Support.doc", "#{root_path}Other-Support.doc", target: "_blank"} as a template.".html_safe
- if user_signed_in? && current_user.administrator?
  = render "forms/horizontal/select", form: form, object: preceptor, key: :rank, options: Preceptor::RANK, include_blank: "---", id: true
= render "forms/horizontal/text_area", form: form, object: preceptor, key: :research_interest, rows: 7
= render "forms/horizontal/text_field", form: form, object: preceptor, key: :program_role
= render "forms/horizontal/text_area", form: form, object: preceptor, key: :publications, rows: 7
= render "forms/horizontal/text_area", form: form, object: preceptor, key: :grants, rows: 7
