<div class="control-group">
  <%= f.label :first_name, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :first_name, class: 'input-xlarge' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :last_name, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :last_name, class: 'input-xlarge' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.email_field :email, class: 'input-xlarge' %>
  </div>
</div>

<% if user_signed_in? and current_user.administrator? %>
  <div class="control-group">
    <%= f.label :status, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :status, Preceptor::STATUS %>
    </div>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :degree, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :degree, class: 'input-xlarge' %>
    <span class="help-block">
      <span class="label label-info">Example</span>
      <code style="color: #777">"M.D., Ph.D."</code>
    </span>
  </div>
</div>

<div class="control-group">
  <%= f.label :hospital_affiliation, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :hospital_affiliation, autocomplete: 'off', data: { provide: 'typeahead', source: Hospital.current.order('name').pluck(:name).to_json }, class: 'input-xxlarge' %>
  </div>

  <% if user_signed_in? and current_user.administrator? %>
    <div class="controls" style="margin-top:10px">
      <div class="help-block">
        <span class="label label-info">Add More</span>
        <%= link_to 'Edit Hospital List', hospitals_path, class: 'btn btn-mini' %>
      </div>
    </div>
  <% end %>
</div>

<div class="control-group">
  <%= f.label :hospital_appointment, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :hospital_appointment, class: 'input-xxlarge' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :biosketch, 'NIH Biosketch (PDF, Word)', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.file_field :biosketch %>
    <%= f.hidden_field :biosketch_cache %>
  </div>
</div>

<div class="control-group">
  <%= f.label :curriculum_vitae, 'Curriculum Vitae (PDF, Word)', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.file_field :curriculum_vitae %>
    <%= f.hidden_field :curriculum_vitae_cache %>
  </div>
</div>

<div class="control-group">
  <%= f.label :other_support, 'Other support (PDF, Word)', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.file_field :other_support %>
    <%= f.hidden_field :other_support_cache %>
    <span class="help-block">
      <span class="label label-info">Example</span>
      <%= link_to 'Other-Support.doc', "#{root_path}Other-Support.doc", class: 'btn btn-mini', target: '_blank' %>
    </span>
  </div>
</div>

<% if user_signed_in? and current_user.administrator? %>
  <div class="control-group">
    <%= f.label :rank, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :rank, options_for_select([['---', nil]] + Preceptor::RANK) %>
    </div>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :research_interest, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_area :research_interest, rows: 7, style: "width:95%" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :program_role, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :program_role, class: 'input-xxlarge' %>
  </div>
</div>
