%table.table.table-striped.table-borderless.table-hover.table-sticky.table-sm
  %thead
    %tr
      %th Name
      %th Email
      %th Status
      %th Hospital affiliation
      %th Rank
      %th Program role
      = th_sort_field @order, "preceptors.current_sign_in_at", "Activity"
      %th Actions

  - @preceptors.each do |preceptor|
    %tr
      %td= link_to preceptor.name, preceptor
      %td= preceptor.email
      %td= preceptor.status
      %td= preceptor.hospital_affiliation
      %td= preceptor.rank
      %td= preceptor.program_role
      %td
        %small= abbreviated_time preceptor.current_sign_in_at
      %td.text-center
        = render "layouts/edit_delete_dropdown", edit_url: edit_preceptor_path(preceptor), delete_url: preceptor, delete_confirmation: "Delete #{preceptor.name}?"

.center-horizontally= paginate @preceptors, theme: "bootstrap"
