<% @title = 'Edit My Information' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<% form_name = "edit_preceptor_#{current_preceptor.id}" %>
<%= form_for(current_preceptor, url: update_me_preceptors_path, html: { id: form_name, class: 'form-horizontal' }) do |f| %>
  <% if current_preceptor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_preceptor.errors.count, "error") %> prohibited this preceptor from being saved:</h2>

      <ul>
      <% current_preceptor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'preceptors/form/general', locals: { f: f } %>

  <div class="form-actions">
    <%= link_to_function "Update My Information", "$('##{form_name}').submit();", class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
