<% @title = @preceptor.name %>
<div class="page-header">
  <h1>
    <%= link_to "Preceptors", preceptors_path %> &middot; <%= @title %>
    <%= link_to "Edit Preceptor", edit_preceptor_path(@preceptor), class: 'btn btn-mini' %>
    <%= link_to "Delete Preceptor", @preceptor, method: :delete, class: 'btn btn-mini btn-danger-inverse', data: { confirm: "Are you sure you want to delete Preceptor #{@preceptor.name}?" } %>
    <%= link_to "Email Preceptor Link", email_preceptor_path(@preceptor), method: :post, class: 'btn btn-mini' %>
  </h1>
</div>

<% if @preceptor.recently_notified? %>
  <p>
    Last notified by email <span class="label label-info"><%= simple_time @preceptor.emailed_at %></span>
  </p>
<% end %>

<div class="page-header"><h2>General Information</h2></div>

<%= render partial: 'preceptors/show/general', locals: { preceptor: @preceptor } %>

<%= render partial: 'preceptors/show/trainees', locals: { preceptor: @preceptor } %>
