- @title = "#{@preceptor.name} - Preceptors"
- @menu_title = @preceptor.name

- content_for :header, @menu_title

- content_for :breadcrumbs do
  %ol
    %li= link_to "preceptors", preceptors_path
    %li.breadcrumb-muted= @preceptor.name.downcase

.dashboard-container
  = link_to "Edit Preceptor", edit_preceptor_path(@preceptor), class: "btn btn-sm btn-light"
  = link_to "Delete Preceptor", @preceptor, method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Delete #{@preceptor.name}?" }
  = link_to "Email Preceptor Link", email_preceptor_path(@preceptor), method: :post, class: "btn btn-sm btn-primary"

  - if @preceptor.recently_notified?
    Last notified by email
    %span.text-primary= simple_time @preceptor.emailed_at

- if current_user.administrator?
  .dashboard-container
    %h5 Preceptor Unique Login
    %code.text-primary.small= "#{ENV["website_url"]}/preceptors/dashboard?auth_token=#{@preceptor.id_and_auth_token}"

.dashboard-container
  .brand-title General Information

  = render "preceptors/show/general", preceptor: @preceptor

  .brand-title Trainees
  = render "preceptors/show/trainees", preceptor: @preceptor
