<% @title = "Preceptor: #{@preceptor.name}" %>
<h1><%= @title %></h1>

<%= link_to image_tag('gentleface/16/doc_edit.png', alt: '') + "Edit Preceptor", edit_preceptor_path(@preceptor), class: 'button' %>
<%= link_to image_tag('gentleface/16/doc_delete.png', alt: '') + "Delete Preceptor", @preceptor, confirm: "Are you sure you want to delete Preceptor #{@preceptor.name}?", method: :delete, class: 'button negative' %>
<%= link_to image_tag('gentleface/16/folder_open.png', alt: '') + "View All Preceptors", preceptors_path, class: 'button' %>
<div style="clear:both"></div>

<fieldset>
  <legend><%= @title %></legend>

  <p>
    <b>Email:</b>
    <%= @preceptor.email %>
  </p>

  <p>
    <b>Degree:</b>
    <%= @preceptor.degree %>
  </p>

  <p>
    <b>Status:</b>
    <%= @preceptor.status %>
  </p>

  <p>
    <b>Hospital affiliation:</b>
    <%= @preceptor.hospital_affiliation %>
  </p>

  <p>
    <b>Hospital appointment:</b>
    <%= @preceptor.hospital_appointment %>
  </p>

  <p>
    <b>Other support:</b>
    <%= @preceptor.other_support %>
  </p>

  <p>
    <b>Rank:</b>
    <%= @preceptor.rank %>
  </p>

  <p>
    <b>Research interest:</b>
    <%= @preceptor.research_interest %>
  </p>

  <p>
    <b>Program role:</b>
    <%= @preceptor.program_role %>
  </p>
</fieldset>
