<% @title = "About #{ENV['website_name']}" %>

<div class="row" style="margin-top:54px">
  <div class="col-md-12">
    <h1 class="about-title"><%= @title %></h1>
    <p class="about-tagline">Visit our <%= link_to 'online community', 'https://sleepepi.partners.org', target: '_blank' %> or contact us <%= mail_to ENV['support_email'], 'via email', target: '_blank', subject: "#{ENV['website_name']} Question" %>.</p>
    <p class="about-signup"><%= link_to 'New Applicant Registration', new_applicant_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>

<hr class="soften">

<p class="about-description"><%= ENV['website_name'] %> is a <%= link_to 'free to use*', 'https://github.com/remomueller/training_grant/blob/master/LICENSE', rel: 'tooltip', data: { title: 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License' } %> and <%= link_to 'open source', 'https://github.com/remomueller/training_grant', rel: 'tooltip', data: { title: 'Source code freely available on GitHub' } %> web application used to manages new applicants, trainees, and preceptors over a 10-year time period.</p>

<div class="row">
  <div class="col-md-4">
    <h2 class="about-title">New Applicants</h2>
    <ul>
      <li>Register for Training Grant eligibility.</li>
      <li>Update your profile.</li>
      <li>Receive emails to update your information once a year.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2 class="about-title">Preceptors</h2>
    <ul>
      <li>Track your trainees progress.</li>
      <li>Update your profile information.</li>
      <li>Receive emails to update information once a year.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2 class="about-title">10-year Reporting</h2>
    <ul>
      <li>Generate reports for applicant versus trainee acceptance rates.</li>
      <li>Keep in touch with applicants, trainees, and preceptors.</li>
      <li>Track current and former trainees easily over 10-year period.</li>
    </ul>
  </div>
</div>

<hr class="soften">

<footer class="footer">
  <p class="muted about-footer"><%= ENV['website_name'] %> Version <%= link_to TrainingGrant::VERSION::STRING, "https://github.com/remomueller/training_grant/tree/#{TrainingGrant::VERSION::MAJOR}.#{TrainingGrant::VERSION::MINOR}.#{TrainingGrant::VERSION::TINY}" %></p>
</footer>
