<% @title = "Training Grant Overview" %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<table style="width:100%">
  <tr>
    <td style="vertical-align:bottom;border:0px">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Outstanding Data Requests</th>
            <th></th>
          </tr>

        </thead>
        <tr style="font-weight:bold">
          <td>Pending Applications</td>
          <td>
            <% pending_applications = Applicant.current.where(reviewed: false) %>
            <%= pending_applications.count %>
          </td>
        </tr>
        <tr>
          <td style="padding-left:20px">Postdoc</td>
          <td><%= pending_applications.where(applicant_type: 'postdoc').count %></td>
        </tr>
        <tr>
          <td style="padding-left:20px">Predoc</td>
          <td><%= pending_applications.where(applicant_type: 'predoc').count %></td>
        </tr>
        <tr>
          <td style="padding-left:20px">Summer</td>
          <td><%= pending_applications.where(applicant_type: 'summer').count %></td>
        </tr>
        <tr style="font-weight:bold">
          <td>Applications this calendar year</td>
          <td>
            <% year_applicants = Applicant.current.where(submitted_at: Time.zone.now.at_beginning_of_year..Time.zone.now.at_end_of_year) %>
            <%= year_applicants.count %>
          </td>
        </tr>
        <tr>
          <td style="padding-left:20px">Postdoc</td>
          <td><%= year_applicants.where(applicant_type: 'postdoc').count %></td>
        </tr>
        <tr>
          <td style="padding-left:20px">Predoc</td>
          <td><%= year_applicants.where(applicant_type: 'predoc').count %></td>
        </tr>
        <tr>
          <td style="padding-left:20px">Summer</td>
          <td><%= year_applicants.where(applicant_type: 'summer').count %></td>
        </tr>
        <tr style="font-weight:bold">
          <td>Acceptance rate this calendar year</td>
          <td><%= year_applicants.count == 0 ? 'N/A' : "%0.00f %" % (year_applicants.where(accepted: true).count * 100.0 / year_applicants.count) %></td>
        </tr>
      </table>
    </td>
    <td style="vertical-align:bottom;border:0px">
      <table class="table table-striped">
        <tr style="font-weight:bold">
          <td>Applications last calendar year</td>
          <td>
            <% last_year_applicants = Applicant.current.where(submitted_at: (Time.zone.now - 1.year).at_beginning_of_year..(Time.zone.now - 1.year).at_end_of_year) %>
            <%= last_year_applicants.count %>
          </td>
        </tr>
        <tr>
          <td style="padding-left:20px">Postdoc</td>
          <td><%= last_year_applicants.where(applicant_type: 'postdoc').count %></td>
        </tr>
        <tr>
          <td style="padding-left:20px">Predoc</td>
          <td><%= last_year_applicants.where(applicant_type: 'predoc').count %></td>
        </tr>
        <tr>
          <td style="padding-left:20px">Summer</td>
          <td><%= last_year_applicants.where(applicant_type: 'summer').count %></td>
        </tr>
        <tr style="font-weight:bold">
          <td>Acceptance rate last calendar year</td>
          <td><%= last_year_applicants.count == 0 ? 'N/A' : "%0.00f %" % (last_year_applicants.where(accepted: true).count * 100.0 / last_year_applicants.count) %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<hr class="soften">

<%= form_tag dashboard_path, method: :get, remote: true, id: "applicants_search", class: 'form-search', data: { object: 'form-load' } do %>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :submitted_after, 'Submitted After', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="input-group">
          <%= text_field_tag 'submitted_after', Date.today.at_beginning_of_year.strftime('%m/%d/%Y'), class: 'datepicker form-control' %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= label :submitted_before, 'Submitted Before', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="input-group">
          <%= text_field_tag 'submitted_before', Date.today.at_end_of_year.strftime('%m/%d/%Y'), class: 'datepicker form-control' %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= submit_tag 'Submit', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="applicant_report_container"></div>
