- @title = 'Forgot My Password'

%h1.center Forgot your password?

%p.lead.center We can help! Select your role to go the appropriate password reset page.

%h2 I am...

.row
  .col-sm-4
    .panel.panel-default
      .panel-heading{ style: "overflow:hidden" }
        .panel-title{ style: "white-space:nowrap" }
          Applicant or Trainee
      .panel-body{ style: "position:relative" }
        .center{ style: "background-color:white;padding-bottom:5px;" }
          = link_to new_applicant_password_path do
            = image_tag( 'student.png', style: 'max-width:100%;max-height:140px' )
            %span{ style: 'white-space:nowrap' } Help me I forgot!
  .col-sm-4
    .panel.panel-default
      .panel-heading{ style: "overflow:hidden" }
        .panel-title{ style: "white-space:nowrap" }
          Preceptor
      .panel-body{ style: "position:relative" }
        .center{ style: "background-color:white;padding-bottom:5px;" }
          = link_to new_preceptor_password_path do
            = image_tag( 'preceptor.png', style: 'max-width:100%;max-height:140px' )
            %span{ style: 'white-space:nowrap' } Help me I forgot!
  .col-sm-4
    .panel.panel-default
      .panel-heading{ style: "overflow:hidden" }
        .panel-title{ style: "white-space:nowrap" }
          Administrator
      .panel-body{ style: "position:relative" }
        .center{ style: "background-color:white;padding-bottom:5px;" }
          = link_to new_user_password_path do
            = image_tag( 'administrator.png', style: 'max-width:100%;max-height:140px' )
            %span{ style: 'white-space:nowrap' } Help me I forgot!
